@import "colors";

.icon {
  width: 26px;
  height: 26px;
}

.report {
  background: $color-steel-gray;
  border-radius: 30px;
  max-width: 912px;
  position: relative;
  padding: 24px 0px;
  margin-bottom: 40px;
  padding-bottom: 48px;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 16px;
  &-header {
    font-size: 32px;
    margin-bottom: 24px;
  }
  &-body {
    font-family: Roboto, sans-serif;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    img {
      width: 100%;
      max-height: 90vh;
      object-fit: contain;
    }
  }
  &-stat {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 36px;
    &-views {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: 6px;
      align-items: center;
    }
  }
  &-author {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    &-role {
      color: #ffa800;
      font-size: 12px;
    }
    &-name {
      font-size: 16px;
    }
    &-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &-views {
    margin-top: 16px;
    opacity: 0.7;
  }
}
// IMPORTANT
// .avatar {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

@media screen and (min-width: 1441px) {
  .report {
    margin: 0px auto;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 786px) {
  .report-holder {
    padding: 0px 16px;
  }
  .report {
    margin-right: 0px;
    margin-bottom: 24px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    &-header {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &-body {
      img {
        width: calc(100% + 40px);
        margin-left: -20px;
      }
      p {
        font-size: 16px;
        font-size: 400;
        margin-bottom: 12px;
      }
    }
    &-stat {
      margin-top: 24px;
    }
    &-author {
      margin-top: 24px;
    }
    &-views {
      margin-top: 16px;
    }
  }
}
