<div @heightOutAnimation class="comment" [class.reply]="isReply" [class.last]="isLast">
  <div class="comment-user">
    <img class="comment-user-image"
      [src]="comment.owner.image.includes('/media/garysh.jpg') ? 'assets/images/user.png' : comment.owner.image">
    <div class="comment-user-info">
      <p class="comment-user-info-name">{{comment.owner.full_name}}</p>
      <p class="comment-user-info-date">{{comment.created_at | DateRemained}}</p>
    </div>
  </div>
  <div class="comment-text">
    {{comment.body}}
  </div>

  <div class="handle">
    
    <div *ngIf="(access$ | async) !==''" class="comment-reply cursor-pointer" (click)="addReply(comment)">
      ответить
    </div>

    <div @opacityAnimation class="comment-reply cursor-pointer" *ngIf="comment.replies.length > 0" (click)="showMore()">
      {{this.getCommentCount}}
    </div>

  </div>
  

  <ng-container *ngIf="!hideAns">

    <div @heightOutAnimation *ngFor="let reply of comment.replies; let i = index">
      <app-comment-module [isLast]="comment.replies.length-1 === i" [isReply]="true" [comment]='reply' (reply)="addReply($event)"> </app-comment-module>
    </div>

  </ng-container>

</div>