<div @heightOutAnimation [formGroup]="formData" class="comment" [class.reply]="isReply" [class.last]="isLast">

  <div class="comment-user">

    <img class="comment-user-image" [src]="comment.owner?.image">

    <div class="comment-user-info">
      <div class="d-flex gap-2">
        <p class="comment-user-info-name">{{comment?.owner?.surname}} {{comment?.owner?.name}}</p>
        <img *ngIf="comment?.owner?.verified" src="assets/icons/verified_user_new.svg">
      </div>
      <p *ngIf="comment.created_at" class="comment-user-info-date">{{comment.created_at | DateRemained | async}}</p>
    </div>

    <div class="comment-user-like pointer" (click)="likeComment(comment)">
      <img class="comment-user-like-icon"
        [src]="comment.liked ? 'assets/icons/liked_new.svg' : 'assets/icons/like_new.svg'">
      <div class="comment-user-like-count">{{comment.likes_count}}</div>
    </div>

  </div>

  <div class="comment-text">
    {{comment.body}}
  </div>

  <div class="handle">

    <div *ngIf="(access$ | async) !==''" class="comment-reply pointer" (click)="toggleReply()">
      {{'app.comment.reply' | translate}}
    </div>

    <div *ngIf="(access$ | async) !=='' && (comment.owner.email === email || is_superuser)"
      class="comment-reply pointer" (click)="togglePatch(comment)">
      {{'app.comment.change' | translate}}
    </div>

    <div
      *ngIf="(access$ | async) !=='' && (comment.owner.email === email || is_superuser) && comment.replies.length === 0"
      class="comment-reply pointer" (click)="deleteComment(comment)">
      {{'app.comment.delete_comment' | translate}}
    </div>

    <div @opacityAnimation class="comment-reply pointer" *ngIf="comment.replies.length > 0" (click)="showMore()">
      {{this.getCommentCount}}
    </div>

  </div>

  <ng-container *ngIf="editComment">

    <div @heightOutAnimation class="d-flex flex-column align-items-end">
      <app-textarea class="mt-2" formControlName="body" [required]="true" hint="app.comment.hint"
        (send)="sendPatchComment(comment)">
      </app-textarea>

      <button class="btn btn-orange justify-content-end" (click)="sendPatchComment(comment)">{{'app.comment.send_changed' | translate}}</button>
    </div>

  </ng-container>

  <ng-container *ngIf="replyComment">

    <div @heightOutAnimation class="d-flex flex-column align-items-end">
      <app-textarea class="mt-2" formControlName="body" [required]="true" hint="app.comment.hint"
        (send)="sendReplyComment(comment)">
      </app-textarea>

      <button class="btn btn-orange justify-content-end" (click)="sendReplyComment(comment)">{{'app.comment.send' | translate}}</button>
    </div>
  
  </ng-container>

  <ng-container *ngIf="!hideAns">

    <app-comment-module @heightOutAnimation *ngFor="let reply of comment.replies; let i = index"
      [isLast]="comment.replies.length-1 === i" [isReply]="true" [comment]='reply' (like)="likeComment($event)"
      (reply)="sendReplyComment2($event)" (delete)="deleteComment($event)" (patch)="sendPatchComment2($event)">
    </app-comment-module>

  </ng-container>

</div>