@import "variables";

.component-header {
  margin-right: 50px;
  &-name {
    font-family: "Spoof", sans-serif;
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
    margin-bottom: 8px;
    h1 {
      margin-bottom: 0px;
    }
    img {
      transition: 0.3s ease-in-out 0s;
    }
  }
  .expanded {
    transform: rotate(180deg);
  }
  &-text {
    max-width: 850px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
  }
  .hidden {
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .component-header {
    margin-right: 0px;
  }
}
