<div @opacityAnimation class="d-flex flex-column align-items-center no-content">

  <div class="no-content-text mb-3">{{'projects.sorry_text.text_1' | translate}}</div>

  <div class="no-content-text mb-3">{{'projects.sorry_text.text_2' | translate}}</div>

  <img class="no-content-icon mb-3" src="assets/images/alien.png" alt="">

  <button *ngIf="(access$ | async) === ''" class="no-content-register mb-3" (click)="goRegister()">
    {{'projects.register' | translate}}
  </button>

  <div class="no-content-social">
    <a href="https://www.youtube.com/c/GARYSHKER" target="_blank">
      <img src="assets/icons/youtube.svg" draggable=false>
    </a>

    <a href="https://t.me/garyshkerchat" target="_blank">
      <img src="assets/icons/telegram.svg" draggable=false>
    </a>

    <a href="https://www.instagram.com/garyshkerr/" target="_blank">
      <img src="assets/icons/insta.svg" draggable=false>
    </a>
  </div>

</div>