<div @opacityAnimation class="d-flex flex-column align-items-center no-content">

  <div class="no-content-text mb-3">Мы знаем, что ты ожидал увидеть что - то интересное. Но мы еще не закончили работу
    над этим разделом. Вся команда делает, старается :)</div>

  <div class="no-content-text mb-3">Скоро все будет, обещаем. А пока можешь пройти регистрацию, чтобы мы оповестили
    тебя, когда все будет готово.</div>

  <img class="no-content-icon mb-3" src="assets/images/alien.png" alt="">

  <button *ngIf="(access$ | async) === ''" class="no-content-register mb-3" (click)="goRegister()">
    Зарегистрироваться
  </button>

  <div class="no-content-social">
    <a href="https://www.youtube.com/c/GARYSHKER" target="_blank">
      <img src="assets/icons/youtube.svg" draggable=false>
    </a>

    <a href="https://t.me/garyshkerchat" target="_blank">
      <img src="assets/icons/telegram.svg" draggable=false>
    </a>

    <a href="https://www.instagram.com/garyshkerr/" target="_blank">
      <img src="assets/icons/insta.svg" draggable=false>
    </a>
  </div>

</div>