<div class="tabs">

  <div class="d-flex">

    <div 
      class="tab pointer" 
      (click)="tab='desc'" 
      [class.selected]="tab==='desc'">
      {{'course.description_tab' | translate}}
    </div>
    
    <div 
      class="tab pointer" 
      (click)="tab='resources'" 
      *ngIf="courseService.resourses.length>0"
      [class.selected]="tab==='resources'">
      {{'course.resources_tab' | translate}}
    </div>
  
  </div>

  <ng-container *ngIf="!courseService.lesson.finished && !courseService.course.course_instance.completed; else completedBtns">

    <ng-container *ngIf="!courseService.quiz && isLastLesson">
      <div class="participate pointer" (click)="nextLesson(courseService.lesson)" translate='course.lesson.finish_course'></div>
    </ng-container>

    <ng-container *ngIf="courseService.quiz && !isLastLesson">
      <div class="participate pointer" (click)="startQuiz(courseService.quiz)" translate='course.lesson.start_quiz'></div>
    </ng-container>

    <ng-container *ngIf="courseService.quiz && isLastLesson">
      <div class="participate pointer" (click)="startQuiz(courseService.quiz)" translate='course.lesson.start_quiz_and_finish'></div>
    </ng-container>
  
    <ng-container *ngIf="!courseService.quiz && !isLastLesson">
      <div *ngIf="!isLastLesson" class="participate pointer" (click)="nextLesson(courseService.lesson)" translate='course.lesson.next_lesson'></div>
    </ng-container>

  </ng-container>

  <ng-template #completedBtns>
    <div *ngIf="!isLastLesson" class="participate pointer" (click)="getNextLesson()" translate='course.lesson.next_lesson'></div>
  </ng-template>

</div>

<ng-container [ngSwitch]="tab">

  <div @opacityAnimation *ngSwitchCase="'desc'">
  
    <div class="description" [innerHtml]="courseService.lesson | lang: 'description' | async"></div>
    
    <div class="lector-header" translate="course.lesson.lector_header"></div>

    <app-course-lector-card [lector]="courseService.lesson.lector"></app-course-lector-card>

  </div>

  <div @opacityAnimation *ngSwitchCase="'resources'" class="materials">

  </div>

</ng-container>