<div class="center">
  <div class="auth-card" [formGroup]="formGroup">
    
    <h3> Авторизация </h3>
  
    <input type="email" class="user-info" formControlName="email" placeholder="Почта"> 
    <p *ngIf="getRequireMessage('email')">*обязательно к заполнению</p>
    <!-- <p *ngIf="getFalseMessage('email')">*Неправильный логин или пароль</p> -->
  
    <input type="password" class="user-info" formControlName="password" placeholder="Пароль"> 
    <p *ngIf="getRequireMessage('password')">*обязательно к заполнению</p>
    <p *ngIf="getFalseMessage('password')">*Неправильный логин или пароль</p>
    
    <div class="menu mt-4"> 
      <div class="cursor-pointer">Забыли пароль?</div> 
      <button class="btn login" (click)="login()">Войти</button>
    </div>
  
  </div>
</div>