@import "theme";

$color-space: color('space');
$color-black: color('black');
$color-white: color('white');
$color-steel-gray: color('steel-gray');
$color-orange: color('orange');
$color-red: color('red');
$color-orange-700: color('orange-700');
$color-orange-dark: color('orange-dark');
$color-orange-dark-800: color('orange-dark-800');
$color-pink: color('pink');
$color-primary: color('primary');
$color-secondary: color('secondary');
$color-active-back: color('active-back');
$color-mercury: color('mercury');
$color-silver-chalicea: color('silver-chalicea');
$color-gray-suit: color('gray-suit');
$color-section: color('section');
$color-mako: color('mako');
$color-ebony-clay: color('ebony-clay');
$color-success: color('success');
$color-vulcan: color('vulcan');
$color-tuna: color('tuna');
$sidemenu-width: 264px;