$icomoon-font-family: "g-icon" !default;
$icomoon-font-path: "fonts" !default;

$g-icon-users: "\e900";
$g-icon-bookmarked: "\e901";
$g-icon-bookmark: "\e902";
$g-icon-liked: "\e903";
$g-icon-like: "\e904";
$g-icon-g: "\e905";
$g-icon-logout: "\e906";
$g-icon-setting: "\e907";
$g-icon-folder: "\e908";
$g-icon-chat: "\e909";
$g-icon-message: "\e90a";
$g-icon-chevron-up: "\e90b";
$g-icon-chevron-down: "\e90c";
$g-icon-chevron-right: "\e90d";
$g-icon-chevron-left: "\e90e";
$g-icon-book: "\e90f";
$g-icon-upload: "\e910";
$g-icon-lock: "\e911";
$g-icon-star: "\e912";
$g-icon-youtube: "\e913";
$g-icon-paper-download: "\e914";
$g-icon-telegram: "\e915";
$g-icon-home: "\e916";
$g-icon-instagram: "\e917";
$g-icon-date: "\e918";
$g-icon-calendar: "\e919";
$g-icon-bag: "\e91a";
$g-icon-restricted: "\e91b";
$g-icon-remove-rounded: "\e91c";
$g-icon-add-rounded: "\e91d";
$g-icon-minus: "\e91e";
$g-icon-add: "\e91f";
$g-icon-location: "\e920";
$g-icon-projects: "\e921";
$g-icon-time: "\e922";
$g-icon-category: "\e923";
$g-icon-user: "\e924";
$g-icon-quotes-left: "\e977";
$g-icon-quotes-right: "\e978";
$g-icon-spinner8: "\e981";
$g-icon-fire: "\e9a9";
$g-icon-link: "\e9cb";
$g-icon-attachment: "\e9cd";
$g-icon-eye: "\e9ce";
$g-icon-eye-blocked: "\e9d1";
$g-icon-sun: "\e9d4";
$g-icon-brightness-contrast: "\e9d6";
$g-icon-contrast: "\e9d5";

