$color-space: #0c0b15;
$color-background: #1c1b29;
$color-orange: #ffa800;
$color-pink: #ffd2dd;
$color-primary: #fff;
$color-secondary: #808191;
$color-active-back: #afaeae10;
$color-text-100: #cacaca;
$color-text-200: #9f9f9f;
$color-section: #ffffff10;
$color-border: #464653;
$color-background-100: #242535;
$color-success: #22B028;
$sidemenu-width: 257px;

@media screen and (max-width: 640px) {
 
}
