$color-space: rgb(12, 11, 21);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255,255,255); 
$color-background: rgb(28, 27, 41);
$color-orange: rgb(255, 168, 0);
$color-red: rgb(246, 8, 8);
$color-orange-700: rgba(255, 168, 0, 0.7);
$color-orange-dark: rgb(182, 121, 6);
$color-orange-dark-800: rgba(182, 121, 6, 0.8);
$color-pink: rgb(255, 210, 221);
$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(128, 129, 145);
$color-active-back: rgba(175, 174, 174, 0.063);
$color-text-100: rgb(202, 202, 202);
$color-text-200: rgb(159, 159, 159);
$color-text-pink: rgb(196, 189, 207);
$color-section: rgba(255, 255, 255, 0.063);
$color-border: rgb(70, 70, 83);
$color-background-100: rgb(36, 37, 53);
$color-success: rgb(34, 176, 40);
$sidemenu-width: 257px;