<div class="mt-4 " *ngIf="course$ | async as course">

  <div class="d-flex justify-content-between align-items-center mb-3">

    <div class="d-flex">
      <span class="item cursor-pointer" (click)="changeSection(1)" [class.selected]="seletedSection===1"> Описание </span>
    </div>
    
    <span style="text-align: right;" class="cursor-pointer test" (click)="startCourse(course)">Начать курс</span>
    
  </div>
  
  <ng-container *ngIf="seletedSection===1">

    <p >{{course | lang: 'description' | async}}</p>

    <div class="mt-2">

      <h5 class="mb-2"> Лекторы: </h5>

      <ng-container *ngFor="let lector of course.lectors">

        <div class="d-flex mt-2 gap-2 align-items-center">

          <img class="lector-image" [src]="lector.icon" alt="">
  
          <div class="d-flex flex-column">
  
            <span class="resource-name"> {{lector.fullname}} </span>
          
            <span class="resource-role" *ngIf="lector | lang: 'role' | async"> {{lector | lang: 'role' | async}} </span>
          
          </div>
  
        </div>
  
        <p class="mt-2"> {{lector | lang: 'description' | async}}</p>  

      </ng-container>
  
    </div>
    
  </ng-container>

</div>