<div class="d-flex flex-column align-items-left mt-4 mb-5 gap-4 nko-holder">

  <h1>{{'nko.header' | translate}}</h1>

  <div>{{'nko.desc' | translate}}</div>

  <div class="file d-flex align-items-left gap-4">

    <div class="file-item">

      <div class="d-flex flex-column align-items-center gap-4">

        <h4 class="mb-4"> {{'nko.first.header' | translate}} </h4>

        <div class="mb-0 d-flex gap-2 pointer" (click)="downloadNKO()">
          <img src="assets/icons/paper.svg" alt="">
          <span class="file-item-download">{{'nko.download' | translate}}</span>
        </div>

      </div>

    </div>

    <div class="file-item">

      <div class="d-flex flex-column align-items-center gap-4">

        <h4 class="mb-4">{{'nko.second.header' | translate}}</h4>

        <div class="mb-0 d-flex gap-2 pointer" (click)="downloadReport()">
          <img src="assets/icons/paper.svg" alt="">
          <span class="file-item-download">{{'nko.download' | translate}}</span>
        </div>

      </div>

    </div>

  </div>

  <div [innerHTML]="'nko.support_message' | translate"></div>

</div>