<ng-container *ngIf="ratings$ | async as ratings" [formGroup]="formData">

  <div style="width: 100%;">

    <div *ngFor="let rating of ratings.results" class="d-flex flex-column">
      
      <div class="d-flex gap-2 align-items-center">
        <img class="user-image" [src]="rating.owner.image" alt="">
        <h6 class="ml-2 mb-0">{{rating.owner.surname}} {{rating.owner.name}}</h6>
      </div>

      <p class="rating-text mt-1">{{rating.body}}</p>

    </div>
  
    <!-- <app-textarea
      class="mt-2"
      formControlName="text"
      [required]="true"
      hint="asd"
      (send)="sendRating()">
    </app-textarea> -->

  </div> 

</ng-container>