<div *ngIf="!!!(selectedCategory$ | async)" class="placeholderPopular">

  <ng-container *ngIf="popular && !!!(selectedCategory$ | async)">

    <div @opacityAnimation>

      <div class="d-flex flex-row align-items-center gap-2">
        <img class="icon" src="assets/images/star.png" alt="">
        <h3 class="mb-0">{{'main_screen.popular'| translate}}</h3>
      </div>

      <div class="swipe">

        <swiper #swiper [config]="config" [slidesPerView]="cellCount" [spaceBetween]="spaceBetween" class="mySwiper">

          <ng-template swiperSlide *ngFor="let item of popular; let indx = index">

            <div class="mySwiper-item" (click)="onNavigate(item)">

              <img [src]="item.image" alt="">

              <div class="logo"> G.</div>

              <div class="content">

                <h5>{{item | lang: 'title' | async}}</h5>

                <div class="d-flex align-content-center content-category cursor-pointer">

                  <div class="content-category-icon">
                    <img [src]="item.category | categoryImage | async">
                  </div>

                  <div class="d-flex flex-column content-category-text">
                    {{item.category | category | async}}
                    <div *ngIf="item.read_time" class='content-category-text-time'>{{item.read_time | ReadTime | async}} •
                      {{item.created_at
                      | DateRemained | async}}</div>
                    <div *ngIf="!item.read_time" class='content-category-text-time'>{{item.created_at | DateRemained | async}}
                    </div>
                  </div>

                </div>

              </div>

            </div>

          </ng-template>

        </swiper>

        <div class="navigation no-select" (click)="slidePrev()">
          <img src="assets/icons/arrow.svg">
        </div>
        <div class="navigation next no-select next" (click)="slideNext()">
          <img src="assets/icons/arrow.svg">
        </div>

      </div>

    </div>

  </ng-container>

</div>