@import "variables";

.no-content {
  margin: 32px 120px;
  text-align: center;
  &-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 100;
  }
  &-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  &-register{
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: $color-orange-dark;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
  }
  &-social {
    display: flex;
    gap: 40px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 768px) {
  .no-content {
    margin: 32px 32px;
    &-text {
      font-size: 18px;
    }
  }
}