<div @opacityAnimation class="body">

  <div class="d-flex flex-column body-header">
    
    <div (click)="onShow()" class="d-flex cursor-pointer gap-2 body-header-name">
      <h1>{{'main_screen.title'| translate}}</h1>
      <img [class.expanded]="show_info" src="assets/icons/down.svg">
    </div>

    <span @heightAnimation *ngIf="show_info" class="body-header-text mb-0 mr-4">{{'main_screen.description'| translate}} </span>
  
  </div>

  <div *ngIf="categories$ | async as categories" class="d-flex align-items-center gap-2 mt-4 categories">

    <div 
      class="d-flex align-items-center categories-item" 
      (click)="removeRouteCategory()"
      [class.active]="!!!(selectedCategory$ | async)">
        
      <span>{{'main_screen.all_categories'| translate}}</span>
    
    </div>

    <div 
      *ngFor="let category of categories" 
      class="d-flex align-items-center cursor-pointer categories-item"
      (click)="updateContent(category.id)" 
      [class.active]="(selectedCategory$ | async) === category.id">

      <img [src]="category.icon" class="categories-item-icon">

      <span>{{category | lang: 'name'| async}}</span>

    </div>

  </div>

  <app-popular [popular]="popular$ | async"></app-popular>

  <app-courses></app-courses>

  <app-reports></app-reports>

  <app-videos></app-videos>

</div>