@import "colors";

.content {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: 0px;
  &-primary {
    background-color: $color-orange-dark;
    color: $color-primary;
    min-width: 136px;
    font-size: 12px;
    font-weight: 600;
  }
  &-profile {
    position: relative;
    display: flex;
    gap: 4px;
    border-radius: 12px;
    align-items: center;
    justify-content: left;
    &-text {
      padding: 4px 12px;
      border-radius: 6px;
      &-drop {
        width: 10px;
      }
      &:hover {
        background-color: #ffffff10;
      }
    }
    &-image {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.dropdown {
  z-index: 1000;
  position: absolute;
  width: max-content;
  min-width: 182px;
  top: 50px;
  right: 0px;
  background-color: $color-tuna;
  border-radius: 12px;
  padding: 16px;
  padding-top: 12px;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  &-desc {
    font-size: 10px;
    margin-bottom: 4px;
  }
  &-item {
    cursor: pointer;
    position: relative;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    clear: both;
    font-weight: 400;
    color: $color-primary;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: initial;
    border: 0;
    &-image {
      width: 18px;
      height: 18px;
    }
    &:first-child {
      padding-top: 0px;
    }
    &:last-child {
      padding-bottom: 0px;
      &::after {
        content: "";
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      right: -22px;
      width: 100%;
      height: 1px;
      background-color: #ffffff30;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    display: none;
  }
}
