@import "colors";

.icon {
  width: 120px;
  height: 120px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

.title {
  font-weight: 700;
  font-size: 21px;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 22px;
}

.message {
  font-size: 18px;
  line-height: 16px;
}
@media screen and (max-width: 640px) {
  .close {
    right: 16px;
    top: 16px;
  }
}
