<div class="event-detail d-flex flex-column justify-content-center" *ngIf="event">

  <i class="g-icon-add close" (click)="closeModal()"></i>

  <ng-container *ngIf="event.video else poster">
    <app-video-player [video]="event.video"></app-video-player>
  </ng-container>
  <ng-template #poster>

    <div [backgroundImage]="event.poster"
      class="d-flex flex-column align-items-start justify-content-between event-detail-item background">

      <div class="d-flex flex-column">
        <span class="event-detail-item-date">
          {{event.event_date | date: 'd'}}
          <br>
          {{(event.event_date | date: "M" | langMonth | async)! | translate}}
          <br>
          {{event.event_date | date: "hh:mm"}}
        </span>
      </div>

      <div class="event-detail-item-title">
        {{event | lang | async}}
      </div>

      <div class="d-flex gap-2 align-items-center">

        <i class="g-icon-location"></i>

        <span class="pointer" (click)="openLink(event.address_link)">{{event | lang: 'address' | async}}</span>

      </div>

    </div>

  </ng-template>

  <div class="d-flex justify-content-start mt-4" *ngIf="!isPast">

    <div class="d-flex gap-2 align-items-center">

      <i class="g-icon-users"></i>

      <span 
        *ngIf="!event.max_user_count" 
        translate="events.register.count" 
        [translateParams]="{count: event.participants_count}">
      </span>
      
      <span 
        *ngIf="event.max_user_count"
        translate="events.register.count_limit"
        [translateParams]="{count: event.participants_count, max_users: event.max_user_count}">
      </span>
    
    </div>

  </div>

  <div class="my-4 event-detail-desc" [innerHTML]="event | lang: 'description' | async"></div>

  <div class="d-flex justify-content-end" *ngIf="type !== 'past' && !isPast">

    <button 
      class="btn btn-orange" 
      (click)="onPost()"
      *ngIf="!event.participant && !event.canceled"
      translate="events.register.submit">
    </button>
    
    <button 
      class="btn btn-orange" 
      (click)="onPost()" 
      *ngIf="event.participant"
      translate="events.register.cancel">
    </button>
    
    <button 
      class="btn btn-red" 
      *ngIf="event.canceled"
      translate="events.register.canceled">
    </button>
  
  </div>

</div>