<div class="video-holder">
  
  <ng-container *ngIf="video; else loader">
  
    <div class="content">
      
      <ng-container *ngIf="video.video else alternative">
        <app-video-player [video]="video.video"></app-video-player>
      </ng-container>
      
      <ng-template #alternative>
        alternative
      </ng-template>

      <app-video-details [entity]="video" (like)="onLike()" (save)="onSave()"></app-video-details>
      
      <app-comment-list [entityId]="video.id"></app-comment-list>
    
    </div>
  
  </ng-container>

  <app-video-related></app-video-related>

</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>