<ng-container *ngIf="video$ | async as video; else loader">

  <div class="video-holder">
    <div class="content">
      <ng-container *ngIf="video.video else alternative">
        <app-video-player [video]="video.video"></app-video-player>
      </ng-container>
      <ng-template #alternative>
        alternative
      </ng-template>
      <app-video-details [entity]="video"></app-video-details>
      <app-video-comments [entity]="video"></app-video-comments>
    </div>
    <div class="content d-flex flex-column gap-4" *ngIf="videos$ | async as videos">

      <div *ngIf="showTitle" class="content-title d-flex flex-row align-items-center gap-2"> <img class="icon"
          src="assets/images/video-camera.png" alt="">
        <h3 class="mb-0">{{'main_screen.view_more' | translate}}</h3>
      </div>

      <app-video-card *ngFor="let video of videos.results" [small]="true" [video]="video" width="100%"
        (click)="navigateVideo(video.id)"></app-video-card>

      <div *ngIf="videos.next" class="content-more gap-2 pointer" (click)="loadVideo(videos.next)">
        {{'main_screen.view_more' | translate}}
        <img src="assets/icons/down.svg" alt="">
      </div>

    </div>

  </div>

</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>