<div class="center">

  <div class="reset" [formGroup]="formGroup">

    <h3 *ngIf="stage===0" class="reset-header"> Восстановление пароля </h3>
    <h3 *ngIf="stage===1 || stage===2" class="reset-header">Изменение пароля</h3>

    <div *ngIf="stage===0" class="reset-text">Пожалуйста, укажите email, который вы использовали для
      входа на сайт</div>
    <div *ngIf="stage===1" class="reset-text">Мы отправили вам электронное письмо с уникальным кодом.
      Пожалуйста введите код ниже</div>


    <ng-container *ngIf="stage===0">
      <input type="email" class="reset-input" [email]="true" formControlName="email" placeholder="Почта">
    </ng-container>

    <ng-container *ngIf="stage===1">
      <input type="text" class="reset-input" formControlName="code" placeholder="Введите код">
    </ng-container>

    <ng-container *ngIf="stage===1">
      <input type="password" class="reset-input" formControlName="password"
        placeholder="Новый пароль">
    </ng-container>

    <p *ngIf="stage===1 && getRequireMessage('password')" class="reset-error">*обязательно к заполнению</p>

    <ng-container *ngIf="stage===1">
      <input type="password" class="reset-input" formControlName="re_password" placeholder="Новый пароль (повторно)">
    </ng-container>

    <p *ngIf="stage===0 && getRequireMessage('email')" class="reset-error">*обязательно к заполнению</p>
    <p *ngIf="stage===1 && getRequireMessage('code')" class="reset-error">*обязательно к заполнению</p>
    <p *ngIf="stage===1 && getRequireMessage('re_password')" class="reset-error">*обязательно к заполнению</p>
    <p *ngIf="getFalseMessage('re_password')" class="reset-error">*пароли не совпадают</p>
    
    <div class="reset-menu">
      <div *ngIf="stage===1" class="reset-menu-force">
        <div class="cursor-pointer" (click)="forceReset()">отправить новый код</div>
      </div>
      <button class="btn reset-menu-next" (click)="reset()">Далее</button>
    </div>

  </div>

</div>