<div #test>

  <ng-container *ngIf="test$ | async as test">
    <ng-container *ngIf="questions$ | async as questions">

      <div @opacityAnimation class="lesson-test" *ngIf="!test.finished; else testFinished">

        <h5>{{'course.test.title' | translate}}</h5>
        
        <span class="warning">{{'course.test.warning' | translate}}</span>

        <div class="d-flex my-2 flex-wrap justify-content-between" *ngIf="question">

          <div class="d-flex gap-1 mb-2">{{question.index}}. {{question.title}}</div>

          <div class="d-flex flex-row gap-1 flex-wrap">

            <div 
              class="progress-item pointer mb-2" 
              [class.current]="val.id === question.id" 
              [class.answered]="val.user_answer && !(val.id === question.id)"
              *ngFor="let val of questions"
              (click)="getQuestions(val.id)" >
            </div>

          </div>

        </div>

        <app-lesson-test-question 
          *ngIf="question" 
          [question]="question" 
          [testId]="testId"
          (nextQuestion)="next()"
          (finishTest)="finish()"> 
        </app-lesson-test-question>

      </div>
      
      <ng-template #testFinished>

        <div @opacityAnimation class="lesson-test" *ngIf="(result$ | async) as result">

          <h5>{{'course.test.title' | translate}} ({{'course.test.user_res' | translate: ({percentage:result.percentage})}})</h5>
        
          <span *ngIf="((result.points / result.max_points)*100) <= 70" class="warning">{{'course.test.warning' | translate}}</span>

          <div class="d-flex justify-content-end mt-2">
            
            <div 
              *ngIf="((result.points / result.max_points)*100) <= 70"
              class="reset-btn pointer" 
              (click)="resetTest()"> {{'course.test.reset' | translate}} </div>
            
          </div>      

        </div>

      </ng-template>

    </ng-container>
  </ng-container>

</div>