@import "variables";

.lesson-test {
  height: max-content;
  width: 100%;
  background-color: #1c1b29;
  border-radius: 15px;
  padding: 24px;

  .progress-item {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $color-primary;
    &::after{
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid #1c1b29;
    }
  }
  .current{
    border: 1px solid $color-orange;
    background-color: $color-orange;
  }
  .answered{
    border: 1px solid $color-primary;
    background-color: $color-primary;
    &::after{
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid transparent;
    }
  }
}

.warning {
  font-weight: 300;
  color: $color-orange;
  font-size: 14px;
}

.reset-btn {
  background-color: rgba(255, 170, 0, 0.8);
  padding: 8px 24px;
  border-radius: 10px;
}