<nav [class.transparent]="main==='auth'">

  <div class="menu menu-left justify-content-start" (click)="sidenav.emit(true)">
    <img class="menu-icon" src="assets/icons/menu.svg" alt="">
  </div>

  <div class="icon-holder" *ngIf="!(innerWidth < 640 && showSearch)" routerLink=''></div>

  <app-header-search *ngIf="!(innerWidth < 640 && !showSearch)"></app-header-search>

  <div class="align-items-center justify-content-center content" *ngIf="dataAvailable">

    <ng-container *ngIf="(access$ | async)?.length === 0">
      <button *ngIf="main!=='application'" class="btn content-primary" routerLink='auth/application'>
        {{'app.registration' | translate}} </button>

      <button *ngIf="main!=='auth'" class="btn content-primary" routerLink='auth'>
        {{'app.login' | translate}} </button>
    </ng-container>

    <app-header-profile *ngIf="(access$ | async)?.length !== 0"></app-header-profile>

  </div>

  <ng-container *ngIf="!['reports', 'videos'].includes(main); else share">
    <div class="menu pointer" (click)="toggleSearch()">
      <img class="menu-icon" src="assets/icons/search2.svg" alt="">
    </div>
  </ng-container>

  <ng-template #share>
    <div class="menu pointer" (click)="shareLink()">
      <img class="menu-icon" src="assets/icons/new_share.svg" alt="">
    </div>
  </ng-template>

</nav>