<nav [class.transparent]="main==='auth'">

  <div class="icon-holder" routerLink=''></div>

  <div class="search-bar" *ngIf="main!=='auth' && main!=='application'">
    <img class="search-bar-icon" src="assets/icons/search.svg" alt="">
    <input type="text" class="search-bar-input" placeholder="Пойск...">
  </div>

  <div class="align-items-center justify-content-center content" *ngIf="dataAvailable">

    <button 
      *ngIf="(access$ | async)!.length === 0 && main!=='application'" 
      class="btn content-primary"
      routerLink='auth/application'
    > Оставить заявку </button>

    <button 
      *ngIf="(access$ | async)!.length === 0 && main!=='auth'" 
      class="btn content-primary" 
      routerLink='auth'
    > Войти </button>

    <div *ngIf="profile$ | async as profile">
      
      <div 
        *ngIf="main!=='auth'" 
        (click)="dropdownToggle()" 
        class="content-profile">

        <img 
          class="content-profile-image"
          (click)="dropdownToggle()" 
          [src]="profile.image.includes('/media/garysh.jpg') ? 'assets/images/user.png' : profile.image">
        
        <div #toggleDiv class="content-profile-text">
          {{profile.full_name}}
          <img class="content-profile-text-drop" src="assets/icons/dropdown.svg" alt="">
        </div>

        <div #menu @opacityAnimation *ngIf="dropdown" class="dropdown">
          <div 
            class="dropdown-item"
            (click)="dropdownToggle()"
            routerLink='profile'> 
            <img class="dropdown-item-image" src="assets/icons/user.svg" alt="">
              Личный кабинет 
          </div>
          <div 
            class="dropdown-item"
            (click)="logout()"
            routerLink='profile'> 
            <img class="dropdown-item-image" src="assets/icons/exit.svg" alt="">
              Выйти 
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="menu">
    <img class="menu-icon" src="assets/icons/menu.svg" alt="">
  </div>

</nav>