@import "variables";

nav {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color-background;

  .icon-holder {
    margin-left: 50px;
    min-width: $sidemenu-width;
    font-family: "Acrobat";
    font-size: 28px;
    line-height: 21px;
    text-transform: uppercase;
    &::before {
      content: "Garyshker.";
    }
    &::first-letter {
      color: $color-orange;
    }
  }

  .small-icon-holder {
    display: none;
    margin-left: 24px;
  }

  .search-bar {
    height: 36px;
    padding: 0px 12px;
    border-radius: 10px;
    min-width: 225px;
    width: 320px;
    background-color: $color-section;
    border: none;
    font-size: 14px;
    color: $color-secondary;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .items {
      display: flex;
      flex-wrap: nowrap;
      height: 36px;
      margin-right: 50px;
      .btn {
        font-weight: 600;
        font-size: 14px;
        padding: 0 24px;
      }
    }
  }
}

.transparent{
  background-color: transparent;
  padding: 0px 150px;
  .icon-holder{
    margin-left: 0px;
  }
  .content{
    .items{
      margin-right: 0px;
    }
  }
}

.secondary {
  &-warning {
    color: $color-text-pink;
    border: 1px solid $color-text-pink;
    background-color: transparent;
  }
}

.primary {
  background-color: $color-orange;
}

@media screen and (max-width: 640px) {
  nav {
    .icon-holder {
      margin-left: 16px;
      min-width: 0;
      &::before {
        content: "G.";
      }
      &::first-letter {
        color: $color-orange;
      }
    }
  }
  .content {
    margin: 0px 16px;
  }
}
