<div class="breadcrumbs mb-2" *ngIf="course$ | async as course">

  <div class="item" (click)="changeCategory()"> {{'main_screen.educate'| translate}} </div>

  <div class="item" (click)="changeCategory(course.category)">

    <img class="item-img" [src]="course.category | categoryImage | async">
    <span>{{course.category | category | async }} </span>

  </div>

  <div class="item"> {{course | lang: 'name' | async}} </div>

</div>

<div class="course-holder" *ngIf="course$ | async as course">

  <div class="content" *ngIf="lesson$ | async as lesson">

    <ng-container *ngIf="lesson.course_participation; else teaser">

      <div class="d-flex align-items-center justify-content-between mb-2">

        <h2> {{lesson | lang: 'name' | async}}</h2>

        <div class="d-flex gap-2">

          <span> {{'course.lesson_num'| translate: ({number: lesson.order, count:course.lesson_count})}} </span>

        </div>

      </div>

      <div class="d-flex mb-4 lector">
        {{lesson.lector.fullname}}, {{lesson.lector | lang: 'role' | async}}
      </div>

      <div 
        plyr 
        class="videoplayer"  
        [plyrPlaysInline]="true" 
        [plyrCrossOrigin]="true"
        [plyrSources]="videoSources"
        [plyrTracks]="videoTracks"
        [plyrOptions]="videoOption"
        (plyrInit)="player = $event"
      ></div>

      <app-course-lesson-detail></app-course-lesson-detail>
      
      <router-outlet></router-outlet>

    </ng-container>

    <ng-template #teaser>

      <div class="d-flex align-items-center justify-content-between mb-2">

        <h2> {{course | lang: 'name' | async}}</h2>

      </div>

      <div class="d-flex mb-4 lector">
        {{'course.lectors'| translate }}
        <ng-container *ngFor="let lector of course.lectors">
          {{lector.fullname}},
        </ng-container>
      </div>

      <app-plyr-player *ngIf="!lesson.course_participation" [link]="course.teaser"></app-plyr-player>

      <app-course-detail></app-course-detail>

    </ng-template>
    
    <div class="d-flex mt-4 flex-row gap-2">
      
      <div class="d-flex flex-row gap-1">
        <div 
          class="rating" 
          *ngFor="let r of [1,2,3,4,5]" 
          [style.opacity]="course.rating >= r ? 1 : 0.6" 
          backgroundImage="assets/images/rocket.png"> </div>
      </div>
      <div> {{course.rating}}/5.00 ({{(rating | async)! | translate}}) </div>
    </div>

  </div>

  <div class="content d-flex flex-column gap-4" *ngIf="lessons$ | async as lessons">

    <app-course-progress> </app-course-progress>

  </div>

</div>