@import "variables";

.breadcrumbs {
  flex: 1;
  min-height: 36px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .item {
    position: relative;
    font-size: 14px;
    color: $color-text-100;
    font-weight: 500;
    margin-right: 12px;
    cursor: pointer;

    &-img {
      width: 16px;
      height: 16px;
      object-fit: cover;
      margin-right: 4px;
      margin-left: 4px;
    }

    &:hover {
      color: $color-orange;
    }

    &:after {
      content: "/";
      position: absolute;
      top: 0;
      left: calc(100% + 4px);
      z-index: -1;
      font-size: 14px;
      color: $color-text-100;
    }

    &:last-child {
      margin-right: 0;
      cursor: default;

      &:hover {
        color: $color-orange;
      }

      &:after {
        content: "";
      }
    }
  }
}

.course-holder {
  width: calc(100% - 32px);
  display: grid;
  grid-template-columns: calc(100% - 416px) 400px;
  gap: 24px;
  margin-bottom: 36px;
  margin-right: 16px;
  .lector {
    font-size: 500;
    font-size: 14px;
    opacity: 0.7;
  }
  .content {
    &-title {
      img {
        width: 32px;
        height: 32px;
      }
    }
    &-more {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

.rating {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .course-holder {
    width: calc(100% - 32px);
    margin-right: 0px;
    grid-template-columns: calc(100% - 316px) 300px;
  }
}

@media screen and (max-width: 1000px) {
  .course-holder {
    width: calc(100% - 16px);
    margin-right: 0px;
    gap: 48px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    width: 100%;
    padding: 0px 16px;
  }
  .course-holder {
    width: 100%;
    padding: 0px 16px;
  }
}

@media screen and (min-width: 1441px) {
}
