<div *ngIf="entity" class="detail">

  <div class="detail-info">

    <div class="detail-info-user align-items-center">
      <img [src]="entity.author.image" alt="">
      <div class="detail-info-user-text">
        <div class="d-flex gap-1 align-items-center">
          <div>{{entity.author.surname}} {{entity.author.name}}</div>
          <img *ngIf="entity.author.verified" src="assets/icons/verified_user_new.svg">
        </div>
        <div class="detail-info-user-text-author">{{'video.author' | translate}}</div>
      </div>
    </div>

    <div class="detail-info-category d-flex gap-2 flex-row align-items-center">
      <img [src]="entity?.category | categoryImage | async" alt="">
      {{entity.category | category |async}}
    </div>

  </div>

  <h3>{{entity | lang: 'title' | async}}</h3>

  <div class="mt-3 detail-body" [innerHTML]="entity | sanitizerLang: 'body' | async"></div>

  <div class="d-flex flex-row align-items-center">

    <div class="detail-views">{{entity.created_at | DateRemained | async}}</div>

    <div class="d-flex gap-4">

      <img (click)="onShare()" class="pointer" src="assets/icons/new_share.svg" alt="">

      <img (click)="onSave()" class="pointer"
        [src]="entity.bookmarked ? 'assets/icons/saved_new.svg' : 'assets/icons/save_new.svg'" alt="">

      <div>
        <img (click)="onLike()" class="pointer"
          [src]="entity.liked ? 'assets/icons/liked_new.svg' : 'assets/icons/like_new.svg'" alt="">

        {{entity.likes_count}}
      </div>

    </div>

  </div>

</div>