<div class="body">

  <!-- <ng-container>

    <h3>⭐ Популярное</h3>

    <div class="items-holder">

    </div>

  </ng-container> -->

  <div @heightAnimation  *ngIf="reports$ | async as reports">

    <h3 @heightAnimation *ngIf="reports.results.length > 0">📖 Читать</h3>

    <div @heightAnimation *ngIf="reports.results.length > 0" class="items-holder">

      <div *ngFor="let report of reports.results">
        <report-card [routerLink]="['reports', report.id]" [report]='report'></report-card>
      </div>

    </div>

  </div>

  <div @heightAnimation *ngIf="videos$ | async as videos">

    <h3 @heightAnimation *ngIf="videos.results.length > 0">📹 Смотреть</h3>

    <div @heightAnimation *ngIf="videos.results.length > 0" class="items-holder">

      <div *ngFor="let video of videos.results">
        <video-card [routerLink]="['videos', video.id]" [video]='video'></video-card>
      </div>

    </div>

  </div>

</div>