<div class="body">

  <div @opacityAnimation *ngIf="popular$ | async as popular">

    <h3 @opacityAnimation *ngIf="popular.length > 0">⭐ Популярное</h3>

    <div @opacityAnimation *ngIf="popular.length > 0" class="items-holder">

      <div (click)="onNavigate(item)" class="popular cursor-pointer" *ngFor="let item of popular">
        <img class="popular-poster" [src]="item.image" alt="">
      </div>

    </div>

  </div>

  <div @opacityAnimation *ngIf="reports$ | async as reports">

    <h3 @opacityAnimation *ngIf="reports.results.length > 0">📖 Читать</h3>

    <div @opacityAnimation *ngIf="reports.results.length > 0" class="items-holder">

      <div *ngFor="let report of reports.results">
        <report-card [routerLink]="['reports', report.id]" [report]='report'></report-card>
      </div>

    </div>

  </div>

  <div @opacityAnimation *ngIf="videos$ | async as videos">

    <h3 @opacityAnimation *ngIf="videos.results.length > 0">📹 Смотреть</h3>

    <div @opacityAnimation *ngIf="videos.results.length > 0" class="items-holder">

      <div *ngFor="let video of videos.results">
        <app-video-card [routerLink]="['videos', video.id]" [video]='video'></app-video-card>
      </div>

    </div>

  </div>

</div>