@import "variables";

.body {
  // overflow-x: hidden;
  overflow: visible;
  position: relative;
  width: 100%;
  .items-holder {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 36px;
    padding: 0px;
  }
}
