@import "colors";

.finish-screen {
  padding: 32px 64px;
  &-icon {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-full {
    width: 100%;
  }
  .rating {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.group {
  width: 100%;
  display: flex;
  flex-direction: row;
  &-btn {
    font-size: 18px;
    line-height: 24px;
    color: $color-white;
    opacity: 0.9;
    margin: 0px;
    font-weight: 400;
  }
  &-background {
    font-weight: 700;
    background-color: $color-orange-dark;
    border-radius: 20px;
    color: white;
    padding: 10px 22px;
  }
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

@media screen and (max-width: 640px) {
  .close {
    right: 16px;
    top: 16px;
  }
  .finish-screen {
    padding: 12px;
  }
}
