<div class="finish-screen d-flex flex-column justify-content-center align-items-center" [formGroup]="formData">

  <div class="finish-screen-icon" backgroundImage="assets/images/star-struck.png"> </div>

  <div class="close">
    <img src="assets/icons/close.svg" (click)="closeModal()" alt="">
  </div>

  <h5 class="mt-4"> {{'course.finish.congrats' | translate}} </h5>

  <div class="finish-screen-full d-flex mt-4 gap-4 justify-content-between">

    <div class="d-flex gap-2">
      <div 
        class="rating cursor-pointer"
        backgroundImage="assets/images/rocket.png" 
        *ngFor="let i of [1,2,3,4,5]" 
        (click)="changeData(i)"
        [style.opacity]="rating >= i ? 1 : 0.3"
      ></div>
    </div>
    
    <div>
      {{'course.finish.rating_text' | translate}} 
    </div>
        
  </div>

  <app-textarea
    class="finish-screen-full mt-2"
    formControlName="body"
    [required]="true"
    [textInputLarge]="true"
    hint="Оставить отзыв..."
    (send)="sendRating()">
  </app-textarea>

  <div class="d-flex gap-2 justify-content-end group mt-2">
    <button class="btn group-btn" (click)="onCancel()">Пропустить</button>
    <button class="btn group-btn group-background" (click)="onPost()">Завершить</button>
  </div>

</div>