<div @opacityAnimation class="d-flex flex-column align-items-start projects-wrapper">

  <!-- <app-component-header header="projects.header" detail="projects.header_detail" [show_detail]="true"></app-component-header> -->

  <div class="d-flex align-items-center gap-2 mb-4 page-picker">

    <div *ngFor="let item of types" class="d-flex align-items-center pointer page-picker-item"
      [class.active]="item.id===selected_type" (click)="onTypeSelect(item)">
      <span [style.color]="item.color">{{item.name | translate}}</span>
    </div>

  </div>

  <div @opacityAnimation *ngIf="[1,2].includes(selected_type)" class="d-flex project-card project-first pointer" routerLink="1" backgroundImage="assets/images/projects/project_1.png">

    <div class="d-flex align-items-center flex-fill justify-content-between">

      <div class="d-flex flex-column project-first-left">
        <h1 class="heading">{{'projects.project_1.name' | translate}}</h1>
        <p class="mb-0">{{'projects.project_1.description' | translate}}</p>
      </div>

      <div class="d-flex flex-column align-items-start project-first-right">
        <p class="mb-2">{{'projects.project_1.time' | translate}}</p>
        <p class="mb-0">{{'projects.project_1.place' | translate}}</p>
      </div>

    </div>

  </div>

  <div @opacityAnimation *ngIf="[1,3].includes(selected_type)" class="d-flex project-card project-second pointer" routerLink="2" backgroundImage="assets/images/projects/project_2.png">

    <p class="mb-1 desc">{{'projects.project_2.description' | translate}}</p>
    <h1 class="title">{{'projects.project_2.name' | translate}}</h1>

  </div>

</div>