@import "variables";

.wrapper {
  min-height: 100vh;
  display: flex;
  margin: 0px 50px;
  margin-right: 0px;
  overflow: visible;

  .sidebar {
    width: $sidemenu-width;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // margin-top: 96px;
  }

  .main {
    flex: 1;
    overflow-x: hidden;
    // overflow: visible;
    // overflow-y: visible;
    margin-top: 96px;

    &.light {
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0px;
  }
  .sidebar {
    width: 0px;
    display: none;
  }
  .main {
    overflow: visible;
    margin: 0px;
    margin-top: 64px;
  }
}