@import "variables";

.wrapper {
  min-height: 100vh;
  display: flex;
  margin:0px  50px;
  overflow:visible;

  .sidebar {
    width: $sidemenu-width;
    margin-top: 32px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .body {
    flex: 1;
    overflow-x: hidden;
    margin-top: 32px;

    &.light {
      background-color: #fff;
    }
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    margin:0px 16px; 
  }
  .sidebar{
    width: 0px;
    display: none;
  }
  .body {
    margin: 0px;
  }
}