@import "colors";

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: visible;
  padding-top: 96px;
  padding-bottom: 32px;

  .main {
    flex: 1;
    overflow-x: hidden;

    &.light {
      background-color: #fff;
    }
  }
}
