<ng-container *ngIf="courses$ | async as courses; else loader">

  <div @opacityAnimation *ngIf="courses.results.length > 0">

    <div class="d-flex flex-row align-items-center gap-2" *ngIf="courses.results.length > 0">
      <img class="icon" src="assets/images/educate_logo.png" alt="">
      <h3 class="mb-0">{{'main_screen.educate'| translate}}</h3>
    </div>

    <app-swiper [slides]="courses.results" [activeIndex]="0" [loop]="false" [navigation]="false" [spaceBetween]="24"
      [slidesPerView]="'auto'" [centeredSlides]="false" [horizontalPadding]="16" [autoplay]="false">

      <ng-template let-item="item">

        <app-course-card style="overflow: hidden;border-radius: 24px; min-width: 320px;"
          (click)="onCourseRoute(item.id)" [course]="item"></app-course-card>

      </ng-template>

    </app-swiper>

  </div>

</ng-container>

<ng-template #loader>
  <div class="course-placeholder">
    <app-loader height="100%"></app-loader>
  </div>
</ng-template>