<div class="product-card">

  <div class="close">
    <img src="assets/icons/close.svg" (click)="closeModal()" alt="">
  </div>

  <ng-container *ngIf="products$ | async as products">

    <ng-container *ngIf="products.length > 0; else noOrders">

      <h3 class="mt-2 mb-4">{{'shop.detail.order' | translate}}</h3>

      <div class="order d-flex gap-3 mb-5 flex-column">

        <div class="order-item d-flex justify-content-between" *ngFor="let order of products">
          <div class="d-flex gap-3 align-items-center">
            <img class="product-image" [src]="order.product.images[0].image_thumb480" alt="">
            <div style="min-width: 120px;">
              <h5>{{order.product | lang | async}}</h5>
              <h6>{{order.size.size_global}}</h6>
            </div>
          </div>
          <div class="d-flex gap-3">

            <div class="d-flex gap-3 align-items-center">
              <img class="icon pointer" (click)="changeCount(order, 'decrease')" src="assets/icons/shop/decrease.svg"
                alt="">
              <span>{{order.count}}</span>
              <img class="icon pointer" (click)="changeCount(order, 'increase')" src="assets/icons/shop/increase.svg"
                alt="">
            </div>

            <div class="order-item-price d-flex flex-column justify-content-center align-items-start">
              <span>{{order.product.price}} тг</span>
              <span class="order-item-price-token">{{order.product.g_token_price}} g.coins</span>
            </div>

            <img (click)="removeProductOrder(order.id)" class="icon-remove pointer align-self-center"
              src="assets/icons/shop/remove.svg" alt="">

          </div>
        </div>

      </div>

      <div class="d-flex mb-2 flex-column gap-2">

        <div class="delivery">
          <h5>{{'shop.detail.delivery.select' | translate}}</h5>
          <div class="d-flex gap-2 align-items-center pointer" (click)="selectType(0)">
            <div class="delivery-select" [class.selected]="selectedType===0"></div>
            <span>{{'shop.detail.delivery.city' | translate}}</span>
          </div>
          <div class="d-flex gap-2 align-items-center pointer" (click)="selectType(1)">
            <div class="delivery-select" [class.selected]="selectedType===1"></div>
            <span>{{'shop.detail.delivery.own' | translate}}</span>
          </div>
          <div class="d-flex gap-2 align-items-center pointer" (click)="selectType(2)">
            <div class="delivery-select" [class.selected]="selectedType===2"></div>
            <span>{{'shop.detail.delivery.country' | translate}}</span>
          </div>
          <div *ngIf="selectedType===1" class="mt-2">
            <h5>{{'shop.detail.location.label' | translate}}</h5>
            <div class="d-flex gap-2 mt-2">
              <img src="assets/icons/location.svg" alt="">
              <span>{{'shop.detail.location.title' | translate}}</span>
            </div>
          </div>
        </div>

      </div>

      <div [formGroup]="formData">

        <app-input *ngIf="[0,1,2].includes(selectedType)" formControlName="name" [required]="true"
          [hint]="'shop.detail.name_placeholder' | translate"></app-input>

        <app-input *ngIf="[0,1,2].includes(selectedType)" formControlName="email" [required]="true"
          [hint]="'shop.detail.email_placeholder' | translate"></app-input>

        <app-input *ngIf="[2].includes(selectedType)" formControlName="city" [required]="true"
          [hint]="'shop.detail.city_placeholder' | translate"></app-input>

        <app-input *ngIf="[2].includes(selectedType)" formControlName="post_id" [required]="true"
          [hint]="'shop.detail.postid_placeholder' | translate"></app-input>

        <app-input *ngIf="[0,2].includes(selectedType)" formControlName="address" [required]="true"
          [hint]="'shop.detail.address_placeholder' | translate"></app-input>

        <app-input *ngIf="[0,1,2].includes(selectedType)" formControlName="phone" [required]="true"
          [hint]="'shop.detail.phone_placeholder' | translate"></app-input>

      </div>

      <h3 class="pt-3 mb-4">{{'shop.detail.sum_price' | translate}} <span class="price-tag">{{price | async}} тг</span>
      </h3>

      <div class="d-flex justify-content-end">
        <button class="btn btn-orange" (click)="createOrder()">{{'shop.detail.create_order' | translate}}</button>
      </div>

    </ng-container>

    <ng-template #noOrders>
      <div class="no-res d-flex justify-content-center align-items-center">
        <h4>{{'shop.detail.no_products' | translate}}</h4>
        <button class="btn btn-orange" (click)="createOrder()">{{'shop.detail.create_order' | translate}}</button>
      </div>
    </ng-template>

  </ng-container>

</div>