@import "variables";
@import "button";

.product-card {
  overflow: hidden;
  .order {
    &-item {
      .product-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 20px;
      }
      .icon {
        width: 24px;
        height: 24px;
        &-remove {
          width: 32px;
          height: 32px;
        }
      }
      &-price {
        min-width: 160px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        &-token {
          color: rgba(255, 168, 0, 0.6);
        }
      }
    }
  }
  .delivery {
    background-color: rgb(51, 50, 62);
    border-radius: 15px;
    width: 100%;
    padding: 24px;
    &-select {
      position: relative;
      width: 12px !important;
      height: 12px !important;
      border-radius: 6px;
      border: 1px solid $color-white;
    }
    .selected{ 
      &::after{
        position: absolute;
        content: "";
        background-color: $color-orange;
        top: 1px;
        left: 1px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
      }
    }
  }
  .price-tag {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.no-res {
  height: 300px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

@media screen and (max-width: 640px) {
  .close {
    right: 16px;
    top: 16px;
  }
  .event-detail {
    padding: 8px 0px;
  }
  .product-card {
    .order {
      &-item {
        overflow: scroll;
        .product-image {
          width: 52px;
          height: 52px;
          object-fit: cover;
          border-radius: 20px;
        }
        &-price {
          min-width: 40px !important;
        }
      }
    }
  }
}
