<div class="sidemenu">
  <div class="main-menu">
    <div class="section cursor-pointer" (click)="removeRouteCategory()" routerLink="edu" [class.active]="currentRoute === 'edu'">
      <div class="icon"> <img src="assets/icons/home.svg" draggable=false> </div> 
      Образование
    </div>

    <div class="section cursor-pointer" (click)="removeRouteDobro()" routerLink="dobro" [class.active]="currentRoute === 'dobro'">
      <div class="icon">
        <img src="assets/icons/heart.svg" draggable=false>  
      </div>
      Добро
    </div>
  </div>

  <div [class.visable]="currentRoute === 'edu'" class="dynamic-menu" *ngIf="categories$ | async as categories">
    <div class="category cursor-pointer" *ngFor="let category of categories" routerLink="edu" (click)="routeCategory(category.id)"> 
      <div class="icon" [class.active]="selectedCategorySection === category.id">
        {{category.icon}}
      </div>
      
      {{category.name}}
    </div>
  </div>


  <div [class.visable]="currentRoute === 'dobro'" class="dynamic-menu">
    
    <div class="category cursor-pointer" routerLink="dobro" (click)="routeDobroType(1)"> 
      <div class="icon" [class.active]="selectedDobroSection === 1">
        🙌
      </div>
      В процессе
    </div>

    <div class="category cursor-pointer" routerLink="dobro" (click)="routeDobroType(2)"> 
      <div class="icon" [class.active]="selectedDobroSection === 2">
        ✨
      </div>
      Завершенные
    </div>

  </div>

  <div class="dynamic-menu visable top-margin">
    
    <div class="category cursor-pointer" (click)="navigateTelegram()"> 
      <div class="icon">
        <img src="assets/icons/help.svg">
      </div>
      Поддержать проект 
    </div>

  </div>

</div>