@import "colors";

.holder {
  margin: 0px 120px;
  margin-bottom: 160px;
  .menu {
    margin-bottom: 60px;
    .item {
      position: relative;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      margin-right: 40px;
      transition: 0.3s ease-in-out;
      &:last-child {
        margin-right: 0px;
      }
    }
    .selected {
      color: #ffa800;
      transition: 0.3s ease-in-out;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -4px;
        left: 0px;
        background-color: #ffa800;
      }
    }
  }
  .content {
    transition: 0.3s all;
    text-align: center;
    a {
      color: #ffa800;
    }
    .section {
      margin-bottom: 48px;
      &-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        margin: 0px 48px;
        &::first-letter {
          color: $color-orange;
        }
      }
    }

    &-video {
      width: 100%;
      border-radius: 20px;
      margin-bottom: 64px;
    }

    &-product {
      padding: 64px 80px;
      margin: 24px 48px;
      background-color: $color-steel-gray;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;
      &-text {
        text-align: left;
      }
      &-router {
        color: #ffa800;
      }
      &:first-child {
        margin: 24px 48px;
        margin-top: 64px;
      }
      &:last-child {
        margin-bottom: 64px;
      }
    }

    &-people {
      margin-bottom: 64px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 40px;
      grid-column-gap: 24px;
      &-item {
        &-image {
          width: 96px;
          height: 96px;
          object-fit: cover;
          overflow: hidden;
          margin-bottom: 16px;
        }
        &-name {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 4px;
        }
        &-border {
          border-radius: 48px;
        }
      }
    }

    &-thanks {
      margin: 48px;
      &-text {
        text-align: left;
      }
    }
    &-contacts {
      font-size: 17px;
      line-height: 30px;
      text-align: left;
    }
    &-partners {
      margin: 0px 96px;
      text-align: left;
      &-main {
        font-size: 20px;
        margin-bottom: 24px;
      }
      &-hint {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 12px;
      }
      &-input {
        width: 100%;
        height: 52px;
        background-color: $color-tuna;
        outline: none;
        border: none;
        border-radius: 8px;
        color: #fff;
        padding: 0px 20px;
      }
      &-btn {
        font-family: "Spoof", sans-serif;
        background-color: $color-orange-dark;
        border-radius: 20px;
        color: #fff;
        font-size: 18px;
        padding: 12px 40px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .holder {
    margin: 0px 64px;
    margin-bottom: 128px;
    .menu {
      .item {
        margin-right: 24px;
      }
    }
    .content {
      &-product {
        margin: 24px 0px;
        padding: 32px;
        &:last-child {
          margin-bottom: 48px;
        }
      }
      &-partners {
        margin: 0px 32px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .holder {
    margin: 0px 16px;
    margin-bottom: 128px;
    .menu {
      .item {
        font-size: 14px;
        margin-right: 12px;
      }
    }
    .content {
      .section {
        &-text {
          margin: 0px;
        }
      }
      &-product {
        margin: 24px 0px;
        padding: 24px;
        &:last-child {
          margin-bottom: 48px;
        }
      }
      &-contacts {
        display: flex;
        flex-direction: column;
      }
      &-people {
        grid-template-columns: repeat(2, 1fr);
      }
      &-thanks {
        margin: 0px;
      }
      &-partners {
        margin: 0px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .holder {
    .content {
      &-people {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
