<div class="d-flex flex-column align-items-center holder py-6">

  <div class="d-flex flex-row align-items-center justify-content-center menu">

    <div *ngFor="let section of sections;" class="item pointer" (click)="changeFragment(section.fragment)"
      [class.selected]="selectedSection===section.fragment">
      {{section.name | translate}}
    </div>

  </div>

  <div *ngIf="selectedSection==='us'" class="content">

    <div class="section">

      <h1 class="mb-2">{{'about.main_heading' | translate}}</h1>

      <div class="section-text">
        {{'about.slogan' | translate}}
      </div>

    </div>

    <div class="content-video">
      <app-video-player link="https://storage.yandexcloud.net/garysh-app/promo_garyshker.%20(1080p).mp4">
      </app-video-player>
    </div>

    <h1 class="mb-4"> {{'about.second_heading' | translate}} </h1>

    <div *ngFor="let router of routers" class="content-product">
      <h3>{{router.name | translate}}</h3>
      <div class="content-product-text">
        {{router.body | translate}}
      </div>
      <div class="content-product-router pointer" [routerLink]="[router.route]">
        {{'about.go' | translate}}
      </div>
    </div>

    <h1 class="mb-4">{{'about.people.header' | translate}}</h1>

    <div class="content-people">

      <div *ngFor="let person of people" class="content-people-item">

        <img class="content-people-item-image" [class.content-people-item-border]="person.border" [src]="person.img"
          alt="">
        <div class="content-people-item-name">{{person.name}}</div>
        <div>{{person.prop | translate}}</div>

      </div>

    </div>

    <div class="d-flex flex-column align-items-start gap-3 content-thanks">

      <h3>{{'about.thanks.header' | translate}}</h3>

      <div class="content-thanks-text">
        {{'about.thanks.text_1' | translate}}
        <br><br>
        {{'about.thanks.text_2' | translate}}
      </div>

    </div>

  </div>

  <div *ngIf="selectedSection==='partners'" class="content">

    <div [formGroup]="formData" class="content-partners">

      <div class="content-partners-main">
        {{'about.partners.header' | translate}}
      </div>

      <div class="content-partners-hint">
        {{'about.partners.helper_start' | translate}} <a href="mailto:info@garyshker.com">info@garyshker.com</a>
        {{'about.partners.helper_end' | translate}}
      </div>

      <input formControlName="email" class="content-partners-input" type="text"
        [placeholder]="'about.partners.input_placeholder' | translate">

      <div class="d-flex justify-content-end mt-4">

        <button (click)="save()" class="btn content-partners-btn">
          {{'about.partners.send_btn' | translate}}
        </button>

      </div>

    </div>


  </div>

  <div *ngIf="selectedSection==='contacts'" class="content">

    <div *ngFor="let contact of contacts" class="mb-4 content-contacts">
      {{contact.text | translate}} - <a [href]="contact.hint" target="_blank">{{contact.prop}}</a>
    </div>

  </div>

</div>