<ng-container *ngIf="course$ | async as course">

  <div class="content d-flex flex-column gap-4" *ngIf="lessons$ | async as lessons">

    <div class="progress d-flex flex-column" *ngIf="lesson$ | async as lesson">

      <h5> {{course | lang: 'name' | async}} </h5>

      <p>
        {{'course.progress.lesson_ended' | translate: ({number: course.closed_lessons, count:course.lesson_count})}}
      </p>

      <div class="progress-graph d-flex flex-row mb-2">

        <div class="progress-graph-item mb-2 cursor-pointer" *ngFor="let i of lessons.results" (click)="changeLesson(i)"
          [class.active]="i.finished && lesson.course_participation"
          [class.onstage]="(lesson.id === i.id) && lesson.course_participation"></div>

      </div>

      <div class="d-flex lessons align-items-center gap-2 mb-2 cursor-pointer"
        [class.current-lesson]="les.id === lesson.id && lesson.course_participation"
        *ngFor="let les of lessons.results; let i=index"
        [style.opacity]="(!les.accessible || !lesson.course_participation) ? 0.6 : 1" (click)="changeLesson(les)">

        <div class="avatar d-flex align-items-center justify-content-center"
          [class.avatar-active]="les.id === lesson.id && lesson.course_participation">
          {{i+1}}
        </div>

        <h6 class="lesson-name mb-0">{{les | lang:'name' | async}}</h6>

        <img *ngIf="!les.accessible || !lesson.course_participation" src="assets/icons/Lock.svg" alt="">

      </div>

      <hr class="break">

      <div class="d-flex align-items-center justify-content-between mb-2">

        <h5 class="mb-0"> {{'course.progress.rating_header' | translate}}</h5>

        <span *ngIf="(ratings$ | async)!.count>=4" class="cursor-pointer" (click)="showRatings()"> {{'course.progress.rating_show' | translate}}</span>

      </div>

      <app-course-progress-rating class="progress-rating" [class.progress-short]="!ratings && (ratings$ | async)!.count>=4">
      </app-course-progress-rating>

    </div>

  </div>

</ng-container>