@import "variables";

.progress {
  height: max-content;
  width: 100%;
  background-color: #1c1b29;
  border-radius: 15px;
  padding: 24px;

  &-rating {
    position: relative;
    width: 100%;
    transition: 0.3s all;
  }
  &-short {
    transition: 0.3s all;
    max-height: 240px;
    &::after {
      content: "";
      position: absolute;
      bottom: -48px;
      width: calc(100% + 48px);
      background-color: rgb(28, 27, 41);
      height: 1px;
      left: -24px;
      right: -24px;
      -webkit-box-shadow: 0px -50px 60px 60px rgb(28, 27, 41);
      -moz-box-shadow: 0px -50px 60px 60px rgb(28, 27, 41);
      box-shadow: 0px -50px 60px 60px rgb(28, 27, 41);
    }
  }
  &-graph {
    width: 100%;
    &:last-child {
      &-item {
        margin-right: 0px;
      }
    }
    &-item {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      height: 4px;
      border-radius: 4px;
      margin-right: 2px;
    }
  }
  .active {
    background-color: #fff;
  }
  .onstage {
    background-color: $color-orange;
  }

  .avatar {
    width: 24px;
    height: 24px;
    border: 1px solid $color-primary;
    text-align: center;
    color: $color-primary !important;
    border-radius: 50%;
  }

  .avatar-active {
    border: 1px solid $color-orange;
    color: $color-orange !important;
  }

  .lessons {
    &:hover {
      color: $color-orange;
    }
  }
  .current-lesson {
    color: $color-orange;
  }
  .break {
    width: calc(100% + 48px);
    margin-left: -24px;
  }
}
