<div *ngIf="!!!(selectedCategory$ | async)" class="placeholderPopular">

  <ng-container *ngIf="popular && !!!(selectedCategory$ | async); else loader">

    <div @opacityAnimation>

      <div class="d-flex flex-row align-items-center gap-2">
        <img class="icon" src="assets/images/star.png" alt="">
        <h3 class="mb-0">{{'main_screen.popular'| translate}}</h3>
      </div>

      <app-swiper [slides]="popular" [activeIndex]="1" [loop]="true" [spaceBetween]="spaceBetween"
        [slidesPerView]="cellCount" [centeredSlides]="true" [horizontalPadding]="16">

        <ng-template let-item="item">

          <div class="card-item" (click)="onNavigate(item)" [backgroundImage]="item.image" [style.height.px]="height">

            <div class="logo"> G.</div>

            <div class="content">

              <div class="content-header" ellipsis [ellipsis-content]="(item | lang: 'title' | async)!"></div>

              <div class="d-flex align-content-center content-category pointer">

                <div class="content-category-icon">
                  <img [src]="item.category | categoryImage | async">
                </div>

                <div class="d-flex flex-column content-category-text">
                  {{item.category | category | async}}
                  <div *ngIf="item.read_time" class='content-category-text-time'>{{item.read_time | ReadTime | async}} •
                    {{item.created_at
                    | DateRemained | async}}</div>
                  <div *ngIf="!item.read_time" class='content-category-text-time'>{{item.created_at | DateRemained |
                    async}}
                  </div>
                </div>

              </div>

            </div>

          </div>

        </ng-template>

      </app-swiper>

    </div>

  </ng-container>

  <ng-template #loader>
    <app-loader height="{{height}}px"></app-loader>
  </ng-template>

</div>