@font-face {
    font-family: "Formular";
    src: url("Formular-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("Formular-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("Formular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("Formular-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("Formular-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Acrobat;
    src: url("Akrobat-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Spoof";
    src: url("Spoof-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Spoof";
    src: url("Spoof-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Spoof";
    src: url("Spoof-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Spoof";
    src: url("Spoof-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Spoof";
    src: url("Spoof-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Spoof";
    src: url("Spoof-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
