<div class="d-flex flex-column justify-content-center align-items-center">

  <img class="icon" src="assets/images/stickers/sticker2.png" alt="">

  <div class="close">
    <img src="assets/icons/close.svg" (click)="closeModal()" alt="">
  </div>

  <div class="clipboard pointer" (click)="copy()">
    <div class="clipboard-text">{{location}}</div>
    <i class="g-icon-upload pointer"></i>
    <div @opacityAnimation *ngIf="copied" class="clipboard-copied" translate="скопирован">
    </div>
  </div>

</div>