@import "variables";

.icon {
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

.clipboard{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #33323E;
  align-items: center;
  &-text{
    max-width: calc(100% - 36px);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-image{
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  &-copied{
    position: absolute;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #33323E;
    top: -48px;
    right: 0px;
  }
}

@media screen and (max-width: 640px) {
  .close {
    right: 16px;
    top: 16px;
  }
}