<div class="d-flex flex-column justify-content-center align-items-center">

  <img class="icon" src="assets/images/err_sticker_2.png" alt="">

  <div class="close">
    <img src="assets/icons/close.svg" (click)="closeModal()" alt="">
  </div>

  <div class="clipboard cursor-pointer" (click)="copy()">
    <div class="clipboard-text">{{location}}</div>
    <img class="clipboard-image cursor-pointer" src="assets/images/clipboard.png" alt="">
    <div @opacityAnimation *ngIf="copied" class="clipboard-copied">
      {{'скопирован' | translate}}
    </div>
  </div>

</div>