@import "colors";
@import "./node_modules/swiper/swiper.scss";
@import "./node_modules/swiper/components/pagination/pagination.scss";
@import "./node_modules/swiper/components/navigation/navigation.scss";

.swiper-carousel {
  overflow: hidden;
  &-inner {
    margin: 16px 20px 48px;
    overflow: visible;
  }
}

.swiper-slide {
  width: max-content;
}

.swiper-pagination {
  bottom: -28px !important;
  display: flex;
}

.swiper-button {
  &-prev,
  &-next {
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
    color: #fff !important;
    background-color: #21232e !important;
    &::after {
      font-size: 18px !important;
      font-weight: 700;
    }
  }
  &-prev {
    left: -4px !important;
    padding-right: 3px;
    margin-top: 0px !important;
    top: calc(50% - 20px) !important;
  }
  &-next {
    right: -4px !important;
    padding-left: 3px;
    margin-top: 0px !important;
    top: calc(50% - 20px) !important;
  }
}

.swiper-pagination-bullet {
  width: 100%;
  height: 6px;
  display: inline-block;
  border-radius: 4px;
  background: $color-mercury;
  opacity: 1;
  transition: 0.3s all;
  &:first-child {
    margin-left: 0px !important;
  }
  &:last-child {
    margin-right: 0px !important;
  }
  &:only-child {
    display: none !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-orange;
}
