@import "colors";
@import "button";

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 50px 80px;
  background-color: #16151e;
  flex-wrap: wrap;

  .main {
    margin-bottom: 24px;
    .icon {
      font-family: "Acrobat";
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
      margin-bottom: 24px;
      &::before {
        content: "Garyshker.";
      }
      &::first-letter {
        color: $color-orange;
      }
    }
    .copyright {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #4b4b4b;
      margin-bottom: 24px;
    }
    .confidental {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    &-header {
      color: $color-white;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 24px;
    }
    &-item {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      width: 40px !important;
      height: 40px !important;
      border-radius: 50%;
      border: 1px solid #4b4b4b;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $color-orange;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 50px 50px 80px;
  }
}

@media screen and (max-width: 512px) {
  footer {
  }
}
