<footer>

  <div class="content">

    <div class="content-info">
      <div class="content-info-item">
        <a class="main">Проекты</a>
        <a routerLink="/edu">Образование</a>
        <a routerLink="/products">Проекты</a>
        <a routerLink="/shop">Магазин</a>
        <a routerLink="/events">Ивенты</a>
      </div>
      <div class="content-info-item">
        <a class="main">О нас</a>
        <a routerLink="/about" [fragment]="'us'">О garyshker</a>
        <a routerLink="/about" [fragment]="'partners'">Партнеры</a>
        <a routerLink="/questions">FAQs</a>
        <a routerLink="about">Документация НКО</a>
      </div>
    </div>

    <div class="content-contacts">
      <div class="content-contacts-main">По вопросам и предложениям</div>
      <a href="mailto:info@garyshker.com">info@garyshker.com</a>
      <a href="tel:8-702-000-6369">8 702 000 6369</a>
    </div>

    <button class="btn project-btn">Поддержать проект</button>

  </div>

  <div class="bottom">
    <div class="bottom-rules">
      <a href=""> Terms & Conditions </a>
      <a href=""> Privacy Policy </a>
    </div>

    <div class="bottom-social">
      <a href="https://www.youtube.com/c/GARYSHKER" target="_blank">
        <img src="assets/icons/youtube.svg" draggable=false>
      </a>

      <a href="https://t.me/garyshkerchat" target="_blank">
        <img src="assets/icons/telegram.svg" draggable=false>
      </a>

      <a href="https://www.instagram.com/garyshkerr/" target="_blank">
        <img src="assets/icons/insta.svg" draggable=false>
      </a>
    </div>

  </div>

</footer>