<footer>

  <div class="content">

    <div class="content-info">
      <div class="content-info-item">
        <a class="main">{{'footer.projects.title' | translate}}</a>
        <a routerLink="/edu">{{'footer.projects.edu' | translate}}</a>
        <a routerLink="/products">{{'footer.projects.project' | translate}}</a>
        <a routerLink="/shop">{{'footer.projects.shop' | translate}}</a>
        <a routerLink="/events">{{'footer.projects.events' | translate}}</a>
      </div>
      <div class="content-info-item">
        <a class="main">{{'footer.about.title' | translate}}</a>
        <a routerLink="/about" [fragment]="'us'">{{'footer.about.garysh' | translate}}</a>
        <a routerLink="/about" [fragment]="'partners'">{{'footer.about.partners' | translate}}</a>
        <a routerLink="/questions">{{'footer.about.faq' | translate}}</a>
        <a routerLink="/nko">{{'footer.about.docs' | translate}}</a>
      </div>
    </div>

    <div class="content-contacts">
      <div class="content-contacts-main">{{'footer.requests.title' | translate}}</div>
      <a href="mailto:info@garyshker.com">{{'footer.requests.email' | translate}}</a>
      <a href="tel:{{'footer.requests.phone' | translate}}">{{'footer.requests.phone' | translate}}</a>
    </div>

    <button class="btn project-btn">{{'footer.help' | translate}}</button>

  </div>

  <div class="bottom">
    <div class="bottom-rules">
      <a href="https://storage.yandexcloud.net/garysh-app/%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0%20%D0%BA%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8.docx" target="_blank"> {{'footer.privacy_polycy' | translate}} </a>
    </div>

    <div class="bottom-social">
      <a href="https://www.youtube.com/c/GARYSHKER" target="_blank">
        <img src="assets/icons/youtube.svg" draggable=false>
      </a>

      <a href="https://t.me/garyshkerchat" target="_blank">
        <img src="assets/icons/telegram.svg" draggable=false>
      </a>

      <a href="https://www.instagram.com/garyshkerr/" target="_blank">
        <img src="assets/icons/insta.svg" draggable=false>
      </a>
    </div>

  </div>

</footer>