@import "variables";

footer {
  min-height: 64px;
  display: flex;
  flex-direction: column;
  padding: 36px 135px 12px;
  background-color: #26212e;
  bottom: 0px;
  width: 100%;
  font-size: 14px;
  overflow-y: auto;

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 108px;
    &-info {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 80px;
      margin-bottom: 12px;
      &-item {
        display: flex;
        flex-direction: column;
        .main {
          font-weight: 600;
          font-size: 18px;
          margin-top: 0px;
          color: #ffd2dd;
        }
        a {
          margin-top: 8px;
          font-size: 16px;
        }
      }
    }
    &-contacts {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 12px;
      &-main {
        font-weight: 600;
        font-size: 18px !important;
        color: #cacaca;
      }
      a {
        font-size: 16px;
        color: #9f9f9f;
        &:hover{
          color: $color-orange;
        }
      }
    }
    .project-btn {
      align-self: center;
      border-radius: 12px;
      color: #fff;
      padding: 16px 24px;
      font-size: 14px;
      font-weight: 600;
      background-color: #b67906;
      align-self: start;
      margin-top: 24px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-rules {
      display: flex;
      gap: 24px;
      margin-bottom: 12px;
    }
    &-social {
      display: flex;
      gap: 40px;
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 1200px) {
  footer {
    padding: 36px 50px 12px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    padding: 36px 16px 12px;
    .content {
      margin-bottom: 0px;
      &-info {
        margin-bottom: 64px;
      }
      &-contacts {
        margin-bottom: 64px;
      }
    }
  }
  .project-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 512px) {
  footer {
    .bottom {
      flex-direction: column;
      align-items: center;
      &-rules {
        margin-bottom: 32px;
      }
    }
  }
}
