<ng-container *ngIf="product; else loader">

  <div class="product gap-4">

    <app-product-images [images]="product.images"></app-product-images>

    <div class="close">
      <img src="assets/icons/close.svg" (click)="closeModal()" alt="">
    </div>

    <div class="product-content">

      <h3 class="mb-3">{{product | lang: 'name' | async}}</h3>

      <p class="mb-3">{{product.price}} тг / <span class="g-coin">{{product.g_token_price}} g.coins</span></p>

      <h6 class="mb-1">{{'shop.detail.size' | translate}}</h6>

      <div class="options d-flex flex-column gap-3 mb-3 mt-2">
        <div class="options-size d-flex justify-content-between" (click)="toggleSizeExpand()">
          <span>{{selectedSize ? selectedSize.size : 'shop.detail.select_size' | translate}}</span>
          <img [class.expanded]="sizeExpanded" src="assets/icons/select_down.svg">
          <div @heightOutAnimation *ngIf="sizeExpanded && sizes" class="options-size-items">
            <div *ngFor="let size of sizes" (click)="selectSize(size)" class="options-size-items-option pointer">
              {{size.size}}</div>
          </div>
        </div>
        <div class="d-flex gap-2">
          <div class="options-item d-flex gap-2 px-1">
            <span (click)="decreaseCount()" class="pointer options-item-interaction">-</span>
            <span>{{product_count}}</span>
            <span (click)="increaseCount()" class="pointer options-item-interaction">+</span>
          </div>
          <div class="options-item pointer" (click)="addProduct()">{{'shop.detail.add_to_card' | translate}}</div>
        </div>
      </div>

      <p class="mb-3" [innerHTML]="product | lang: 'description' | async"></p>

      <h6 class="mb-1">{{'shop.detail.compound' | translate}}</h6>
      <p class="mb-3">{{sizeCompound | async}}</p>

      <h6 class="mb-1">{{'shop.detail.care' | translate}}</h6>
      <p class="mb-0">{{product | lang: 'care' | async}}</p>
    </div>

  </div>

</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>