<ng-container *ngIf="videos$ | async as videos">

  <div @opacityAnimation *ngIf="videos.results.length > 0">

    <div class="d-flex flex-row align-items-center gap-2" *ngIf="videos.results.length > 0">
      <img class="icon" src="assets/images/video-camera.png" alt="">
      <h3 class="mb-0">{{'main_screen.view'| translate}}</h3>
    </div>

    <div *ngIf="videos.results.length > 0" class="videos">

      <app-video-card *ngFor="let video of videos.results" (click)="onVideoRoute(video.id)" [video]='video'>
      </app-video-card>

    </div>

    <div *ngIf="videos.next"
      class="d-flex show_more flex-column align-content-center align-items-center cursor-pointer mb-5"
      (click)="loadVideo(videos.next)">
      {{'main_screen.view_more' | translate}}
      <img src="assets/icons/down.svg" alt="">
    </div>
    <div *ngIf="!videos.next" class="mb-5"></div>

  </div>

</ng-container>