<div class="confirm">
  
  <img class="icon" [src]="getIcon" alt="">

  <h4 class="mb-0 header" [translate]="title"></h4>

  <i class="g-icon-add close" (click)="closeModal()"></i>

  <div class="message" [translate]="message"></div>

  <div class="group mt-4">
    <button *ngIf="false_ans" class="btn btn-orange-outline group-btn" (click)="onCancel()" [translate]="false_ans">{{false_ans | translate}}</button>
    <button *ngIf="true_ans" class="btn group-btn" (click)="onConfirm()" [translate]="true_ans"></button>
  </div>
  
</div>