<div class="d-flex flex-column justify-content-center align-items-center">

  <img class="icon" [src]="getIcon" alt="">

  <h4 class="mb-0">{{title}}</h4>

  <div class="close">
    <img src="assets/icons/close.svg" (click)="closeModal()" alt="">
  </div>

  <div class="message">
    {{message}}
  </div>

  <div class="group mt-4">
    <button class="btn group-btn group-background" (click)="onCancel()">{{false_ans}}</button>
    <button class="btn group-btn" (click)="onConfirm()">{{true_ans}}</button>
  </div>

</div>