@import "colors";

.item {
  position: relative;
  text-align: center;
  margin-right: 12px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  &:last-child {
    margin-right: 0px;
  }
}

.selected {
  color: #ffa800;
  transition: 0.3s ease-in-out;
  &::after {
    content: "";
    transition: 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0px;
    background-color: #ffa800;
  }
}

.test {
  font-size: 14px;
  font-weight: 500;
  color: $color-orange;
}

.lector {
  &-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.resource {
  width: 100%;
  padding: 24px;
  background-color: $color-steel-gray;
  border-radius: 15px;
  &-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  &-name {
    font-weight: 500;
    font-size: 14px;
  }
  &-role {
    font-size: 10px;
  }
}

.resource-btn {
  margin: 0;
  align-self: center;
  border-radius: 12px;
  color: #fff;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(255, 168, 0, 0.8);
  align-self: start;
}
