<div class="mt-4 " *ngIf="lesson$ | async as lesson">

  <div class="d-flex justify-content-between align-items-center mb-3">

    <div class="d-flex">

      <span class="item cursor-pointer" (click)="changeSection(1)" [class.selected]="seletedSection===1 && getTest">
        {{'course.description_header' | translate}}
      </span>

      <span class="item cursor-pointer" (click)="changeSection(2)" [class.selected]="seletedSection===2 && getTest">
        {{'course.resources_header' | translate}}
      </span>

    </div>

    <span *ngIf="getTest && lesson.test_id; else nextLesson" style="text-align: right;" class="cursor-pointer test"
      (click)="openTest()">
      {{'course.pass_test' | translate}}
    </span>

    <ng-template #nextLesson>
      <span *ngIf="getTest && !(lastLesson | async)!" style="text-align: right;" class="cursor-pointer test"
        (click)="passLesson()">
        {{'course.pass' | translate}}
      </span>
      <span *ngIf="getTest && (lastLesson | async)!" style="text-align: right;" class="cursor-pointer test"
        (click)="passLesson()">
        {{'course.finish_course' | translate}}
      </span>
    </ng-template>

  </div>

  <ng-container *ngIf="seletedSection===1 && getTest">

    <p>{{lesson | lang: 'description' | async}}</p>

    <div class="mt-2">

      <h5 class="mb-2"> {{'course.lector_header' | translate}} </h5>

      <div class="d-flex mt-2 gap-2 align-items-center">

        <img class="lector-image" [src]="lesson.lector.icon" alt="">

        <div class="d-flex flex-column">

          <span class="resource-name"> {{lesson.lector.fullname}} </span>

          <span class="resource-role" *ngIf="lesson.lector | lang: 'role' | async"> {{lesson.lector | lang: 'role' |
            async}} </span>

        </div>

      </div>

      <p class="mt-2"> {{lesson.lector | lang: 'description' | async}}</p>

    </div>

  </ng-container>

  <ng-container *ngIf="seletedSection===2 && getTest">

    <div class="d-flex gap-4 align-items-center resource" *ngFor="let item of (resourses$ | async)">

      <img class="resource-image" [src]="item.image" alt="">

      <div class="d-flex flex-column">

        <h5>{{item | lang: 'name' | async}}</h5>

        <p> {{item | lang: 'description' | async}} </p>

        <div class="d-flex justify-content-end">
          <a class="btn resource-btn" [href]="item.link || item.file" target="_blank"> {{'course.open_resourse' | translate}}</a>
        </div>

      </div>

    </div>

  </ng-container>

</div>