<div @heightOutAnimation [formGroup]="formData" class="comment" [class.reply]="isReply" [class.last]="isLast">

  <div class="comment-user">

    <!-- <img class="reply-sign" src="./assets/icons/reply-sign.svg" draggable=false> -->

    <div class="comment-user-image" (click)="modalService.photoDialog(comment.owner.image)" [backgroundImage]="comment.owner.image" temp="cover"></div>

    <div class="comment-user-info">
      <div class="d-flex gap-2" (click)="modalService.photoDialog(comment.owner.image)">
        <p class="comment-user-info-name">{{comment.owner.surname}} {{comment.owner.name}}</p>
        <img *ngIf="comment.owner.verified" src="assets/icons/verified_user_new.svg">
      </div>
      <p *ngIf="comment.created_at" class="comment-user-info-date">{{comment.created_at | DateRemained | async}}</p>
    </div>

    <div class="comment-user-like pointer" (click)="likeComment(comment)">
      <i [class]="comment.liked ? 'g-icon-liked': 'g-icon-like'"></i>
      <div class="comment-user-like-count">{{comment.likes_count}}</div>
    </div>

  </div>

  <div class="comment-text">
    {{comment.body}}
  </div>

  <div class="handle">

    <div 
      *ngIf="authorized$ | async" 
      class="comment-reply pointer" 
      (click)="toggleReply()"
      translate="app.comment.reply">
    </div>

    <div *ngIf="(authorized$ | async) && (comment.owner.email === email || is_superuser)"
      class="comment-reply pointer" 
      (click)="togglePatch(comment)"
      translate="app.comment.change">
    </div>

    <div
      *ngIf="(authorized$ | async) && (comment.owner.email === email || is_superuser) && comment.replies.length === 0"
      class="comment-reply pointer" 
      (click)="deleteComment(comment)"
      translate="app.comment.delete_comment">
    </div>

    <div 
      @opacityAnimation 
      class="comment-reply pointer" 
      *ngIf="comment.replies.length > 0" 
      (click)="showMore()">
      {{getCommentCount}}
      <!-- TODO -->
    </div>

  </div>

  <ng-container *ngIf="editComment">

    <div @heightOutAnimation class="d-flex flex-column align-items-end">

      <app-textarea 
        class="mt-2" 
        formControlName="body" 
        [required]="true" 
        hint="app.comment.hint"
        (send)="sendPatchComment(comment)">
      </app-textarea>

      <button 
        [disabled]="!formData.valid"
        class="btn btn-orange-outline justify-content-end" 
        (click)="sendPatchComment(comment)"
        translate="app.comment.send_changed">
      </button>
    
    </div>

  </ng-container>

  <ng-container *ngIf="replyComment">
  
    <div @heightOutAnimation class="d-flex flex-column align-items-end">
      
      <app-textarea 
        class="mt-2" 
        formControlName="body" 
        [required]="true" 
        hint="app.comment.hint"
        (send)="sendReplyComment(comment)">
      </app-textarea>

      <button 
        [disabled]="!formData.valid"
        class="btn btn-orange-outline justify-content-end" 
        (click)="sendReplyComment(comment)"
        translate="app.comment.send">
      </button>
    
    </div>
  
  </ng-container>

  <ng-container *ngIf="!hideAns">

    <app-comment-module 
      @heightOutAnimation 
      *ngFor="let reply of comment.replies; let i = index"
      [isLast]="comment.replies.length-1 === i" 
      [isReply]="true" 
      [comment]='reply' 
      (like)="likeComment($event)"
      (reply)="sendReplyComment2($event)" 
      (delete)="deleteComment($event)" 
      (patch)="sendPatchComment2($event)">
    </app-comment-module>

  </ng-container>

</div>