<div @opacityAnimation class="body">

  <div class="d-flex flex-column body-header">

    <div (click)="onShow()" class="d-flex cursor-pointer gap-2 body-header-name">
      <h1>{{'events.main_header'| translate}}</h1>
      <img [class.expanded]="show_info" src="assets/icons/down.svg">
    </div>

    <span @heightAnimation *ngIf="show_info" class="body-header-text mb-0 mr-4">{{'events.main_description'| translate}}
    </span>

  </div>

  <div class="d-flex align-items-center gap-2 mt-4 time-type">

    <div *ngFor="let type of types" class="d-flex align-items-center cursor-pointer time-type-item"
      [class.active]="type===selected_type" (click)="onTypeSelect(type)">
      <span>{{type.name | translate}}</span>
    </div>

  </div>

  <div class="events-holder" *ngIf="events$ | async as events">

    <div class="events-holder-item" *ngFor="let event of events.results">

      <div [backgroundImage]="event.poster"
        class="d-flex flex-column align-items-start justify-content-between events-holder-item-image background">

        <div class="d-flex flex-column">
          <span class="events-holder-item-image-date">
            {{event.event_date | date: 'd'}}
            <br>
            {{(event.event_date | date: "M" | langMonth | async)! | translate}}
          </span>
        </div>

        <div class="events-holder-item-image-title">
          {{event | lang: 'name' | async}}
        </div>

        <div class="d-flex gap-2 align-items-center">

          <img class="event-holder-item-image-location" src="assets/icons/location2.svg" alt="">

          <span class="cursor-pointer" (click)="openLink(event.address_link)">{{event | lang: 'address' | async}}</span>

        </div>

      </div>

      <div class="d-flex justify-content-between flex-wrap mt-4">

        <div class="d-flex gap-2 align-items-center mb-2">
          <img class="ml-2" src="assets/icons/2_user.svg" alt="">
          <span>{{'events.register.count' | translate: ({count: event.participants_count})}} </span>
        </div>

        <button class="btn orange-btn" (click)="onDetail(event)">{{'events.register.more' | translate }}</button>

      </div>

    </div>

  </div>

  <!-- <img src="assets/icons/location.svg" alt=""> -->

</div>