<div @opacityAnimation class="body">

  <app-component-header header="events.main_header" detail="events.main_description"></app-component-header>

  <div class="d-flex align-items-center gap-2 mt-4 page-picker">

    <div *ngFor="let type of types" class="d-flex align-items-center pointer page-picker-item"
      [class.active]="type===selected_type" (click)="onTypeSelect(type)">
      <span>{{type.name | translate}}</span>
    </div>

  </div>

  <div class="events-holder" *ngIf="events$ | async as events">

    <div class="events-holder-item pointer" *ngFor="let event of events.results">

      <div [backgroundImage]="event.poster"
        (click)="onDetail(event)"
        class="d-flex flex-column align-items-start justify-content-between events-holder-item-image background">

        <div class="d-flex flex-column">
          <span class="events-holder-item-image-date">
            {{event.event_date | date: 'd'}}
            <br>
            {{(event.event_date | date: "M" | langMonth | async)! | translate}}
            <br>
            {{event.event_date | date: "hh:mm"}}
          </span>
        </div>

        <div class="events-holder-item-image-title">
          {{event | lang: 'name' | async}}
        </div>

        <div class="d-flex gap-2 align-items-center">

          <img class="event-holder-item-image-location" src="assets/icons/location2.svg" alt="">

          <span class="pointer">{{event | lang: 'address' | async}}</span>
          <!-- (click)="openLink(event.address_link)" -->

        </div>

      </div>

      <div class="d-flex justify-content-between flex-wrap mt-4">

        <div *ngIf="!isPast(event)" class="d-flex gap-2 align-items-center mb-2">
          <img class="ml-2" src="assets/icons/2_user.svg" alt="">
          <span *ngIf="!event.max_user_count">{{'events.register.count' | translate: ({count: event.participants_count})}} </span>
          <span *ngIf="event.max_user_count">{{'events.register.count_limit' | translate: ({count: event.participants_count, max_users: event.max_user_count})}} </span>
        </div>

        <div *ngIf="isPast(event)" class="d-flex gap-2 align-items-center mb-2">
          <!-- <img class="ml-2" src="assets/icons/2_user.svg" alt=""> -->
          <span><b>{{'events.register.completed' | translate}}</b></span>
        </div>

        <button class="btn orange-btn" *ngIf="!event.canceled" (click)="onDetail(event)">{{'events.register.more' |
          translate }}</button>
        <button class="btn red-btn" *ngIf="event.canceled" (click)="onDetail(event)">{{'events.register.canceled' |
          translate }}</button>

      </div>

    </div>

  </div>

</div>
