@import "variables";
@import "videoplayer";
@import "font";
@import "button";
@import "image";
@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --plyr-color-main: #ffa800;
}

body {
  padding: 0;
  margin: 0;
  background-color: $color-space;
  color: $color-primary;
}

main {
  margin: 0;
  padding: 0;
  min-height: 90vh;
}

.plyr {
  border-radius: 10px;
}

* {
  outline: none !important;
}

.pointer {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
}

@keyframes fade {
  from {
    background-color: $color-space;
  }
  to {
    background-color: #aeaeae10;
  }
}

.btn {
  outline: none !important;
  margin-left: 12px;
  border-radius: 8px;
  &:focus,
  &:active,
  &:hover {
    outline: none !important;
    box-shadow: none;
  }
}

a {
  text-decoration: none;
  color: #c4bdcf;
}

iframe {
  border-radius: 16px;
}

.bs-datepicker-container {
  padding: 0px !important;
}

@media screen and (max-width: 600px) {
  .bs-datepicker-container {
    display: block;
    position: fixed !important;
    top: 0px;
    left: 0px;
    transform: translateX(50%);
    transform: translateY(50%);
  }
}

.modal-content {
  position: relative;
  background-color: #14131d;
  border-radius: 16px;
  padding: 24px 48px;
  h4 {
    font-weight: 700;
  }
}

@media screen and (max-width: 640px) {
  .modal-content {
    padding: 32px 16px;
  }
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
}
body {
  margin: 0;
  font-family: "Formular", sans-serif;
}

.hidden {
  overflow: hidden;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

a {
  &:hover {
    color: $color-orange;
  }
}
