@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --plyr-color-main: #FFA800;
}

body {
  padding: 0;
  margin: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00000000;
}

body {
  background-color: $color-space;
  color: $color-primary;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 0;
  padding: 0;
  min-height: 90vh;
}

* {
  outline: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1440px,
);

$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1440px,
);

h1,
h2,
h3 {
  font-weight: 600;
}

@keyframes fade {
  from {
    background-color: $color-space;
  }
  to {
    background-color: #aeaeae10;
  }
}

.btn {
  outline: none !important;
  margin-left: 12px;
  border-radius: 8px;
  &:focus,
  &:active,
  &:hover{
    outline: none !important;
    box-shadow: none;
  }
}

a{
  text-decoration: none;
  color: #C4BDCF;
}

@font-face {
  font-family: Acrobat;
  src: url("assets/font/Akrobat-Bold.otf") format("opentype");
}

.modal-content{
  position: relative;
  background-color: #26212E;
  border-radius: 16px;
  padding: 32px 64px;
  h4{
    font-weight: 700;
  }
}

.inner-wrapper-sticky{
  top: 32px !important;
}

@media screen and (max-width: 640px) {
  .modal-content{
    padding: 32px 16px;
  }
}