<div @opacityUpDownAnimation class="form" [formGroup]="group">

  <div class="form-body">

    <h3>{{form.title}}</h3>
    <div class="form-body-detail">{{form.label}}</div>

  </div>

  <div class="d-flex flex-column form-content">

    <ng-container *ngFor="let config of form.config">

      <label *ngIf="config.type !== 'user-type' && config.helper" class="form-content-title" [for]="config.key"> Дата
        рождения </label>

      <input
        *ngIf="config.type !== 'user-type' && config.key && config.type !== 'goals' && config.type !== 'birth-date' && config.type !=='city-selector'"
        class="form-content-input" [id]="config.key" [type]="config.type" [formControlName]="config.key"
        [placeholder]="config.placeholder" [email]="config.key === 'email'">

      <input *ngIf="config.type === 'birth-date' && config.key" [formControlName]="config.key"
        class="form-content-input date" type="text" mask="d0/M0/0000" [placeholder]="config.placeholder"
        [dropSpecialCharacters]="false" value="">

      <select class="form-content-input" *ngIf="config.type === 'city-selector' && config.key"
        (change)="updateSelection(config.key, $event)">
        <option value="" disabled selected>Город</option>
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>

      <select class="form-content-input" *ngIf="config.type === 'user-type' && config.key"
        (change)="updateSelection(config.key, $event)">
        <option value="" disabled selected>{{config.placeholder}}</option>
        <option value="0">Учусь</option>
        <option value="1">Работаю</option>
        <option value="2">Учусь</option>
      </select>
      <!-- <ng-container *ngIf="config.key">
        <p *ngIf="group.controls[config.key].errors?.incorrect">
          loloolol
        </p>
      </ng-container> -->

      <ng-container *ngIf="config.type === 'goals'">

        <div class="d-flex align-items-center gap-2 user-type" *ngFor="let type of config.userTypes; let i = index">

          <img class="user-type-icon" [src]="type.icon">

          <div class="user-type-info">
            <h6>{{type.name}}</h6>
            {{type.description}}
          </div>

        </div>

      </ng-container>

    </ng-container>

    <div class="d-flex justify-content-end align-items-end">

      <button *ngIf="stage > 0" class="btn form-content-prev" (click)="back()">Вернутся назад</button>

      <button class="btn form-content-next" (click)="send()">Далее</button>

    </div>

  </div>

</div>