<div @opacityUpDownAnimation class="form" [formGroup]="group">

  <div class="form-body">

    <h3>{{form.title! | translate}}</h3>
    <div class="form-body-detail">{{form.label! | translate}}</div>

  </div>

  <div class="d-flex flex-column form-content">

    <ng-container *ngFor="let config of form.config">

      <label *ngIf="config.type !== 'user-type' && config.helper" class="form-content-title" [for]="config.key"> {{'auth.registration.steps.one.config.birth_date_p_helper' | translate}} </label>

      <input *ngIf="(config.type === 'input' || config.type === 'email' || config.type === 'password') && config.key"
        class="form-content-input" [id]="config.key" [type]="config.type" [formControlName]="config.key"
        [placeholder]="config.placeholder! | translate" [email]="config.key === 'email'">

      <input *ngIf="config.type === 'birth-date' && config.key" [formControlName]="config.key"
        class="form-content-input date" type="text" mask="d0/M0/0000" [placeholder]="config.placeholder! | translate"
        [dropSpecialCharacters]="false" value="">

      <select class="form-content-input" *ngIf="config.type === 'city-selector' && config.key"
        (change)="updateSelection(config.key, $event)">
        <option value="" disabled selected>{{'Город' | translate}}</option>
        <option *ngFor="let city of cities" [value]="city">{{city! | translate}}</option>
      </select>

      <select class="form-content-input" *ngIf="config.type === 'user-type' && config.key"
        (change)="updateSelection(config.key, $event)">
        <option value="" disabled selected>{{config.placeholder! | translate}}</option>
        <option value="0">{{'auth.registration.user_type.school' | translate}}</option>
        <option value="1">{{'auth.registration.user_type.student' | translate}}</option>
        <option value="2">{{'auth.registration.user_type.working' | translate}}</option>
        <option value="3">{{'auth.registration.user_type.other' | translate}}</option>
      </select>

      <ng-container *ngIf="config.key">
        <div class="form-content-err" *ngIf="group.controls[config.key]?.errors?.incorrect">
          *{{config.error! | translate}}
        </div>
      </ng-container>

      <ng-container *ngIf="config.type === 'goals'">

        <div class="d-flex align-items-center gap-2 user-type" *ngFor="let type of config.userTypes; let i = index">

          <img class="user-type-icon" [src]="type.icon">

          <div class="user-type-info">
            <h6>{{type.name | translate}}</h6>
            {{type.description | translate}}
          </div>

        </div>

      </ng-container>

    </ng-container>

    <ng-container *ngIf="stage === 3" [formGroup]="politics">
      <div class="d-flex mt-4 flew-row align-items-center gap-2">
        <input class="form-check-input" type="checkbox" id="politics" formControlName="rules">
        <div for="politics" class="politics">{{'auth.registration.policy' | translate}} </div>
      </div>
    </ng-container>

    <div class="d-flex justify-content-end align-items-end">

      <button *ngIf="stage > 0" class="btn form-content-prev" (click)="back()">{{'auth.registration.prev' | translate}}</button>

      <button *ngIf="stage !== 2" class="btn form-content-next" (click)="send()">{{'auth.registration.next' | translate}}</button>

      <button *ngIf="stage === 2" class="btn form-content-next" (click)="send()">{{'auth.registration.apply' | translate}}</button>

    </div>

  </div>

</div>