@import "colors";

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 12px;
  .icon {
    padding: 6px;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    background-color: $color-section;
    margin-right: 12px;
    &-image{
      width: 18px;
      height: 18px;
      object-fit: cover;
    }
  }
  &-category{
    font-size: 14px;
    font-weight: 700;
  }
  &-read_time{
    margin-left: 12px;
    opacity: 0.7;
  }
}

@media screen and (max-width: 840px) {
  .menu {
    margin-bottom: 24px;
    font-size: 9px;
    &-category{
      font-size: 11px;
      font-weight: 700;
    }
  }
}
