@import "variables";

.menu {
  margin: 0px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  p {
    margin-bottom: 0px;
    margin-left: 12px;
  }
  .icon {
    padding: 9px;
    width: 36px;
    height: 36px;
    display: flex;
    border-radius: 12px;
    align-content: center;
    justify-content: center;
    background-color: $color-section;
    &-image{
      width: 18px;
      height: 18px;
      object-fit: cover;
    }
  }
  &-category{
    font-size: 14px;
    font-weight: 700;
  }
}

@media screen and (max-width: 840px) {
  .menu {
    margin: 0px 20px;
    margin-bottom: 24px;
    font-size: 12px;
  }
}
