@import "colors";

.application {
  display: flex;
  margin: auto 200px;
  padding-top: 112px;
  &-header {
    height: max-content;
    width: 100%;
    position: relative;
    h1 {
      font-size: 36px;
      line-height: 49px;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      opacity: 0.6;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #b9b8b5;
      opacity: 0.4;
      transform: translateY(12px);
    }
    &-modal {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      color: $color-orange;
      cursor: pointer;
      &-text {
        font-weight: bold;
        font-size: 14px;
        &:hover,
        &:active {
          text-decoration-line: underline;
        }
      }

      &-emoji {
        width: 24px;
        height: 24px;
        margin-right: 6px;
        font-size: 24px;
      }
    }
  }
}

.app-body {
  overflow: auto;
  display: flex;
  margin: auto 200px;
  // margin-top: 12px;
  &-mobmenu {
    display: none;
    padding-top: 112px;
    justify-content: space-between;
    &-item {
      position: relative;
      flex: 1;
      &:last-child {
        flex: 0;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0px;
        height: 1px;
        background-color: $color-tuna;
        z-index: -1;
        top: 32px;
      }
    }
  }
  &-menu {
    margin: 0px 40px;
    position: relative;
    padding-right: 40px;
    min-height: 70vh;
  }
  &-form {
    flex: 1;
    position: relative;
    margin-top: 64px;
    margin-bottom: 64px;
    min-height: 60vh;
  }
}
.section {
  overflow: auto;
  transition: 0.25s all;
}

.sections {
  margin-top: 48px;
  position: relative;
  &:first-child {
    margin-top: 64px;
  }
  &:last-child {
    padding-bottom: 64px;
    &::after {
      display: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    right: 9px;
    top: 0px;
    transform: translateY(48px) translateX(-14px);
    height: 100px;
    background-color: $color-tuna;
  }
  &-text {
    font-weight: 300;
    max-width: 300px;
    font-size: 12px;
    opacity: 0.4;
    text-align: right;
  }
  &-icon {
    background-color: $color-tuna;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 6px;
    position: relative;
  }
}

.selected {
  filter: brightness(0) saturate(100%) invert(72%) sepia(28%) saturate(5948%) hue-rotate(360deg) brightness(106%)
    contrast(103%);
}

.active {
  border-color: #ffa800;
}

.form-body-header {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

@media screen and (max-width: 1240px) {
  .application {
    margin: auto 80px;
    // margin-top: 48px;
    padding-top: 112px;
  }
  .app-body {
    margin: auto 80px;
    // margin-top: 12px;
  }
}

@media screen and (max-width: 867px) {
  .application {
    display: none;
    margin: auto 40px;
    // margin-top: 48px;
    padding-top: 112px;
  }
  .app-body {
    margin: auto 40px;
    // margin-top: 12px;
    display: flex;
    flex-direction: column;
    &-mobmenu {
      display: flex;
    }
    &-menu {
      display: none;
    }
    &-form {
      margin-top: 32px;
    }
  }
  .sections {
    &-icon {
      background-color: $color-tuna;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      padding: 6px;
      position: relative;
      img {
        width: 30px !important;
        height: 30px !important;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .application {
    margin: auto 16px;
    margin-top: 0px;
  }
  .app-body {
    margin: auto 16px;
    // margin-top: 12px;
  }
}
