<div class="application">
  <div class="application-header">
    <h1>Cалем :)</h1>
    <p>Решение о принятии или отклонении заявки принимается на основе вашей анкеты, поэтому — расскажите нам о вас как можно подробней.</p>
    <p>Перед тем как заполнять анкету, просим ознакомится с ценностями нашего проекта.</p>
    <div class="application-header-modal"  (click)="openModal()">
      <div class="application-header-modal-emoji">🙌</div>  
      <div class="application-header-modal-text">Наши ценности</div>  
    </div>
  </div>
</div>