<div class="application">

  <div class="application-header">

    <h1>Регистрация</h1>

    <p>Решение о принятии или отклонении заявки принимается на основе вашей анкеты, поэтому — расскажите нам о вас как
      можно подробней.</p>

    <p>Перед тем как заполнять анкету, просим ознакомится с ценностями нашего проекта.</p>

  </div>

</div>

<div class="d-flex app-body">

  <div class="app-body-mobmenu">
    <div *ngFor="let stage of stages; let i=index" (click)="onSelect(i)" class="app-body-mobmenu-item cursor-pointer">
      <div class="d-flex justify-content-center align-items-center sections-icon" [class.no-next]="true">
        <img [src]="stage.icon" [class.selected]="stage_num===i">
      </div>
    </div>
  </div>

  <div class="app-body-menu">

    <div *ngFor="let stage of stages; let i=index" (click)="onSelect(i)"
      class="d-flex justify-content-end align-items-center gap-3 sections cursor-pointer">
      <div class="d-flex flex-column align-items-end">
        <h6> {{stage.name}}</h6>
        <div class="sections-text">{{stage.small_text}}</div>
      </div>

      <div class="d-flex justify-content-center align-items-center sections-icon" [class.no-next]="true">

        <img [src]="stage.icon" [class.selected]="stage_num===i">

      </div>

    </div>

  </div>

  <div class="d-flex flex-column app-body-form">

    <div @opacityUpDownAnimation class="form-body-header">
      Шаг {{stage_num+1}}/{{stages.length}}
    </div>

    <ng-container *ngFor="let stage of stages; let i = index">
      <app-sign-up-section
        *ngIf="stage_num===i" 
        class="section" 
        [form]="stage"
        [stage]="i"
        [group]="forms[i]"
        (next)="nextSection($event)"
        (prev)="prevSection()"> </app-sign-up-section>
    </ng-container>

  </div>

</div>