<div class="icon">🙌</div>
<h4>Наши ценности</h4>
<div class="close">
  <img src="assets/icons/close.svg" (click)="closeModal()" alt="">
</div>

<div class="goals">
  <div class="goals-item">
    <div class="goals-item-main">Сила в единстве</div>
    <div class="goals-item-info">Мы верим в силу сообщества. Объединившись, нам удастся достичь целей, которые мы поставили перед собой.</div>
  </div>

  <div class="goals-item">
    <div class="goals-item-main">Мы честны перед собой и другими</div>
    <div class="goals-item-info">Мы открыто говорим и обсуждаем идеи. Наши планы и показатели внутри сообщества всегда будут прозрачными.</div>
  </div>

  <div class="goals-item">
    <div class="goals-item-main">Мы за современный подход</div>
    <div class="goals-item-info">Мы всегда стараемся идти в ногу со временем и предпочитаем современные подходы/методы в решениях разного рода задач.</div>
  </div>

  <div class="goals-item">
    <div class="goals-item-main">Для нас важны люди, а не продукт</div>
    <div class="goals-item-info">Этот проект был создан людьми и исключительно с целью приносить пользу людям.</div>
  </div>
</div> 