<div @heightAnimation class="reply" *ngIf="replyContent">
        
  <img class="reply-sign" src="assets/icons/reply-sign.svg" draggable=false>
  <img class="reply-image"
    [src]="replyContent.owner.image">
  <div class="reply-info">
    <p class="reply-info-name">{{replyContent.owner.surname}} {{replyContent.owner.name}}</p>
    <p class="reply-info-date">{{replyContent.created_at | DateRemained | async}}</p>
  </div>
  <div class="reply-cancel cursor-pointer" (click)="removeReplyParent()">отменить</div>

</div>