@import "variables";

.video-card {
  position: relative;
  width: 360px;
  overflow: hidden;
  background-color: $color-background;
  border-radius: 20px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;

  .back {
    width: 100%;
    height: 160px;
    border-radius: 20px;
    object-fit: cover;
    background-color: $color-border;
  }

  .logo {
    z-index: 3;
    top: 8px;
    right: 8px;
    position: absolute;
    font-family: "Acrobat";
    font-size: 24px;
    line-height: 24px;
    color: #ffa800;
  }

  .content {
    margin: 16px;
  }
}

.category {
  color: $color-pink;
  mix-blend-mode: normal;
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 8px;
  &-icon{
    width: 16px;
    height: 16px;
  }
}

.date {
  font-size: 10px;
  color: $color-secondary;
}
