<div @opacityAnimation class="video-card cursor-pointer" [style.width]="width">

  <div class="logo"> G.</div>
  <img class="back" [src]="video.image" draggable="false">
  <div class="content">

    <div class="d-flex flex-row align-items-center gap-1 category">
      <img class="category-icon" [src]="video.category_icon">
      {{video.category}}
    </div>

    <h5>{{video.title}}</h5>

    <div class="date">
      {{video.created_at | DateRemained}}
    </div>
    <!-- 10 мин •  -->
  </div>

</div>