<div @opacityAnimation class="d-flex justify-content-start profile" *ngIf="profile">

  <img [src]="profile?.image" class="profile-image">

  <div class="d-flex flex-column profile-info">
    <h3>
      {{profile?.full_name}}
      <img class="profile-info-change" src="assets/icons/pen.svg" (click)="onProfileChange()">
    </h3>
    <div class="profile-info-detail">{{profile?.email}}</div>
    <div class="profile-info-detail">{{profile.birth_date | DateAge}}</div>
    <div class="profile-info-detail">
      <img src="assets/icons/location.svg" alt=""> 
      {{profile.city}}
    </div>
  </div>

</div>

<div class="body">

  <div @opacityAnimation *ngIf="reports$ | async as reports">

    <h3 @opacityAnimation *ngIf="reports.results.length > 0">📖 Читаю</h3>

    <div @opacityAnimation *ngIf="reports.results.length > 0" class="items-holder">

      <div *ngFor="let report of reports.results">
        <report-card (click)="onReport(report)" [report]='report'></report-card>
      </div>

    </div>

  </div>

  <div @opacityAnimation *ngIf="videos$ | async as videos">

    <h3 @opacityAnimation *ngIf="videos.results.length > 0">📹 Смотрю</h3>

    <div @opacityAnimation *ngIf="videos.results.length > 0" class="items-holder">

      <div *ngFor="let video of videos.results">
        <app-video-card (click)="onVideo(video)" [video]='video'></app-video-card>
      </div>

    </div>

  </div>

</div>