<div @opacityAnimation class="d-flex justify-content-start align-items-center profile"
  *ngIf="profile$ | async as profile">

  <img [src]="profile?.image" class="profile-image">

  <div class="d-flex flex-column profile-info">
    <h3 class="d-flex gap-2">
      <div class="d-flex gap-2 justify-content-center align-items-left">
        {{profile?.surname}} {{profile?.name}}
        <img *ngIf="profile.verified" src="assets/icons/verified_user_new.svg">
      </div>
      <img class="profile-info-change" src="assets/icons/pen.svg" (click)="onProfileChange()">
    </h3>
    <div class="profile-info-detail">{{profile?.email}}</div>
    <div class="profile-info-detail">{{profile.birth_date | DateRemained: true | async}}</div>
    <div class="profile-info-detail">
      <i class="g-icon-location"></i>
      <span class="ml-2"> {{profile.city}}</span>
    </div>
  </div>

</div>

<div class="body">

  <app-profile-reports></app-profile-reports>

  <app-profile-videos></app-profile-videos>
  
</div>