<div @opacityAnimation class="d-flex justify-content-start align-items-center profile"
  *ngIf="profile$ | async as profile">

  <img [src]="profile?.image" class="profile-image">

  <div class="d-flex flex-column profile-info">
    <h3 class="d-flex gap-2">
      <div class="d-flex gap-2 justify-content-center align-items-left">
        {{profile?.surname}} {{profile?.name}}
        <img *ngIf="profile.verified" src="assets/icons/verified_user_new.svg">
      </div>
      <img class="profile-info-change" src="assets/icons/pen.svg" (click)="onProfileChange()">
    </h3>
    <div class="profile-info-detail">{{profile?.email}}</div>
    <div class="profile-info-detail">{{profile.birth_date | DateAge | async}}</div>
    <div class="profile-info-detail">
      <img src="assets/icons/location.svg" alt="">
      {{profile.city}}
    </div>
  </div>

</div>

<div class="body">

  <ng-container *ngIf="reports$ | async as reports">

    <div @heightAnimation *ngIf="reports.results.length > 0">

      <div class="d-flex flex-row align-items-center gap-2" *ngIf="reports.results.length > 0">
        <img class="icon" src="assets/images/open-book.png" alt="">
        <h3 class="mb-0">{{'app.profile.reading' | translate}}</h3>
      </div>

      <app-swiper [mousewheel]="false" [slides]="reports.results" [activeIndex]="0" [loop]="false" [navigation]="false" [spaceBetween]="24"
        [slidesPerView]="'auto'" [centeredSlides]="false" [horizontalPadding]="16" [autoplay]="false" (isEnd)="onScroll($event)">

        <ng-template let-item="item">

          <report-card [routerLink]="['/edu/reports', item.id]" [report]='item'>
          </report-card>

        </ng-template>

      </app-swiper>

    </div>

  </ng-container>

  <ng-container *ngIf="videos$ | async as videos">

    <div @heightAnimation *ngIf="videos.results.length > 0">

      <div class="d-flex flex-row align-items-center gap-2" *ngIf="videos.results.length > 0">
        <img class="icon" src="assets/images/video-camera.png" alt="">
        <h3 class="mb-0">{{'app.profile.watching' | translate}}</h3>
      </div>

      <div *ngIf="videos.results.length > 0" class="videos">

        <app-video-card *ngFor="let video of videos.results" [routerLink]="['/edu/videos', video.id]" [video]='video'>
        </app-video-card>

      </div>

      <div *ngIf="videos.next" class="d-flex flex-column align-content-center align-items-center pointer mb-5"
        (click)="loadVideo()">
        {{'main_screen.view_more' | translate}}
        <img src="assets/icons/down.svg" alt="">
      </div>

    </div>

  </ng-container>

</div>